//- === to extend
//- extends ./assets/pug/templates/_index-template.pug


//- === to connect empty block
//- block block-name
//-   p NEW CONTENT!


//- === to clear default block
//- block block-name

//- === to prepend default block
//- prepend block-name
//-   p NEW PREPEND CONTENT!

//- === to append default block
//- append block-name
//-   p NEW APPEND CONTENT!
//- ============================================================================

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    block style
      link(rel="shortcut icon" href="./assets/img/favicon.ico")
      link(rel="stylesheet" href="./assets/simple-grid-layout/css/simple-grid-layout.css")
      link(rel="stylesheet" href="./assets/vendors/mmenu/css/mmenu.css")
      link(rel="stylesheet" href="./assets/css/style.css")

    block upper-script
      //- script(src="../assets/vendors/jquery/jquery-3.5.1.min.js")

    block title
      title Template

  body
    div#page

      block top-body
        header.s-header

          //- мобильная шапка
          include /assets/components/blocks/mobile-top-panel/_mobile-top-panel.jade

          //- панель поиска
          include /assets/components/blocks/search-panel/_search-panel.jade

          //- .w-top-menu
          .l-container
            .w-top-menu

              //- меню с выбором городов
              include /assets/components/blocks/city-choice-menu/_city-choice-menu.jade

              //- главное меню сайта
              include /assets/components/blocks/main-menu/_main-menu.jade

              //- проверить статус заказа
              include /assets/components/blocks/check-order-status/_check-order-status.jade

          .l-container.container-middle-menu
            .w-middle-menu
              //- логотип
              include /assets/components/blocks/logotype/_logotype.jade

              nav.w-communication-methods
                //- способы связи
                include /assets/components/blocks/communication-methods/_communication-methods.jade

              nav.w-user-navigation
                //- иконки навигации
                include /assets/components/blocks/user-navigation/_user-navigation.jade

        section.s-fast-category
          //- быстрые категории
          include /assets/components/blocks/fast-category/_fast-category.jade


      block middle-body
        section.s-body
          h2 I'm body h2
          p I'm body paragraph

      block bottom-body
        footer.s-footer
          include /assets/components/sections/footer/_s-footer.jade

      block modal-window
        //- a.js-show-modal(href="#modal_01" data-target-modal="#modal_01") Заказать звонок
        //- button.js-show-modal(data-target-modal="#modal_01") Заказать звонок



        //- === modal_01 - обратный звонок
        .modal-overlay.js-modal-overlay#modal_01
          form.modal-body(method="post" action="https://echo.htmlacademy.ru")
            button(type="button").btn-as-wrapper.modal-close 
              span.visually-hidden Закрыть

            .modal-body-heading 
              span.modal-body-heading__title Обратный звонок

            .modal-body-content
              label.component-input-text.js-component-input-text
                input.input-text-form(type="text" name="username").js-input
                span.input-text-label.--bg-white Ваше имя#[span.star *]

              label.component-input-text.js-component-input-text
                input.input-text-form(type="text" name="phone").js-input
                span.input-text-label.--bg-white Ваш телефон#[span.star *]

              button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Отправить

              span.modal-description.--callback.
                Отправляя данные, вы соглашаетесь на #[a(href="#").link.--underline обработку персональных данных]

        //- === modal_02 - заказать образец
        .modal-overlay.js-modal-overlay#modal_02
          form.modal-body.component-tabs-panel(method="post" action="https://echo.htmlacademy.ru")
            button(type="button").btn-as-wrapper.modal-close 
              span.visually-hidden Закрыть

            .modal-body-heading 
              span.modal-body-heading__title Заказать образец

            .modal-body-content
              label.component-input-text.js-component-input-text
                input.input-text-form(type="text" name="username").js-input
                span.input-text-label.--bg-white Ваше имя
              label.component-input-text.js-component-input-text
                input.input-text-form(type="text" name="phone").js-input
                span.input-text-label.--bg-white Ваш телефон#[span.star *]
              label.component-input-text.js-component-input-text
                input.input-text-form(type="text" name="login").js-input
                span.input-text-label.--bg-white Ваш E-mail#[span.star *]
              label.component-input-text.input-textarea.--text-black.js-component-input-text
                textarea(name="comment").input-text-form.js-input
                span.input-text-label.--bg-white Ваш комментарий

              button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Отправить

              span.modal-description.--callback.
                Отправляя данные, вы соглашаетесь на #[a(href="#").link.--underline обработку персональных данных]

        //- === modal_03 - вход / регистрация
        .modal-overlay.js-modal-overlay#modal_03
          form.modal-body.component-tabs-panel(method="post" action="https://echo.htmlacademy.ru")
            button(type="button").btn-as-wrapper.modal-close 
              span.visually-hidden Закрыть

            .modal-body-heading 
              ul.modal-body-heading-tab-list.component-tabs-panel-list
                li.modal-body-heading-tab-item.component-tabs-panel-item
                  a(href="#" data-num-btn="1").btn-as-wrapper.modal-body-heading-tab-item__btn.component-tabs-panel-item__btn.--js-active Вход
                li.modal-body-heading-tab-item.component-tabs-panel-item
                  a(href="#" data-num-btn="2").btn-as-wrapper.modal-body-heading-tab-item__btn.component-tabs-panel-item__btn Регистрация



            .modal-body-content.w-component-tabs-panel-body

              //- === tab 01
              .component-tabs-panel-body(data-num-tab="1").--js-show
                label.component-input-text.js-component-input-text
                  input.input-text-form(type="text" name="login").js-input
                  span.input-text-label.--bg-white Ваш E-mail#[span.star *]

                label.component-input-text.js-component-input-text
                  input.input-text-form(type="password" name="password").js-input
                  span.input-text-label.--bg-white Пароль#[span.star *]

                .w-line.--login
                  a(href="#").link.forgot-password-link Забыли пароль?

                  button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Войти

              //- === tab 02
              .component-tabs-panel-body(data-num-tab="2")
                label.component-input-text.js-component-input-text
                  input.input-text-form(type="text" name="full-name").js-input
                  span.input-text-label.--bg-white ФИО


                label.component-input-text.js-component-input-text
                  input.input-text-form(type="text" name="email").js-input
                  span.input-text-label.--bg-white Ваш E-mail#[span.star *]

                label.component-input-text.js-component-input-text
                  input.input-text-form(type="password" name="password_01").js-input
                  span.input-text-label.--bg-white Пароль#[span.star *]

                label.component-input-text.js-component-input-text
                  input.input-text-form(type="password" name="password_02").js-input
                  span.input-text-label.--bg-white Повторите пароль#[span.star *]

                .w-line.--reg
                  button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Зарегистрироваться

                  span.modal-description.
                    Отправляя данные, вы соглашаетесь на #[a(href="#").link.--underline обработку персональных данных]




      block lower-script
        script(src="./assets/vendors/jquery/jquery-3.5.1.min.js")
        script(src="./assets/vendors/intl-tel-input/js/intlTelInput.min.js")
        script(src="./assets/vendors/slick/js/slick.min.js")
        script(src="./assets/vendors/masonry/js/masonry.pkgd.min.js")
        script(src="./assets/simple-grid-layout/js/simple-grid-layout.js")
        script(src="./assets/vendors/mmenu/js/mmenu.js")
        script(src="./assets/js/index.js")