//- to include
//- include ./assets/components/blocks/check-order-status/_check-order-status.jade

nav.check-order-status
  a(href="#").check-order-status__link 
    span.inner-content Проверить статус заказа