//- to include
//- include ./assets/components/blocks/communication-methods/_communication-methods.jade


ul.communication-methods-list

  li.communication-methods-item.--phone
    a.communication-methods-item__title(href="tel:+74956004177") +7 (495) 600-41-77
    button.communication-methods-item__action.js-show-modal(data-target-modal="#modal_01")
      span.btn-text Заказать звонок

  li.communication-methods-item.--email
    span.communication-methods-item__title C 09:00 до 21:00, без выходных!
    a(href="mailto:info@boxpresent.ru").communication-methods-item__action info@boxpresent.ru