//- to include
//- include ./assets/components/blocks/logotype/_logotype.jade

a.logo(href="./index.html")
  img.logo__img(src="./assets/img/logo.png" alt="Logotype")
  span.logo__title Сувениры и подарки с логотипом
