label.component-input-text.js-component-input-text
  input(type="text" name="username").input-text-form.js-input
  span.input-text-label.--bg-white Ваше имя:

label.component-input-text.input-textarea.--text-white.js-component-input-text
  textarea(name="comment").input-text-form.js-input
  span.input-text-label.--bg-black Ваш комментарий

label.component-input-radio
  input(type="radio" name="permission").input-radio-form
  span.input-text-label Согласен на обработку персональных данных

label.component-input-check.--pseudo-input
  input(type="checkbox" name="permission").input-check__form
  span.input-check__label Согласен на обработку персональных данных




//- правильный check
label.component-input-check.--pseudo-input.--style-01
  input(type="checkbox" checked).input-check__form
  span.input-check__label Запомнить меня

label.component-input-text.input-textarea.--text-white.js-component-input-text
  textarea(name="comment").input-text__form.js-input
  span.input-text__label.--bg-black Ваш комментарий


