//- to include
//- include ./assets/components/sections/features/_s-features.jade



.w-features

  .w-features-card.--left.--bg-color-yellow
    .features-card.features-card--type-text.--text-black
      span.features-card__heading Индивидуальные решения для каждого клиента от
      span.features-card__sub-heading.company-name.
        BO#[span.color--green X]PRESE#[span.color--black N]T
      span.features-card__description В нашем интернет-магазине рекламной сувенирной продукции Вы можете заказать VIP-подарки, товары для проведения промо акций, футболки с фирменным принтом, ручки с корпоративной символикой, кружки с логотипом компании, брендированные ежедневники, часы, флешки и многое другое.

  .w-features-card.--right.--bg-color-blue
    .features-card.features-card--type-icons.--text-white
      span.features-card__heading Почему уже более 
        span.one-line 20 000 человек выбрали нас?

      ul.features-card-features-list
        li.features-card-features-list-item
          .list-item__icon
            img(src="./assets/img/icons/features/clock.svg" alt="feature icon").list-item__icon-img
          span.list-item__description Короткие сроки изготовления продукции

        li.features-card-features-list-item
          .list-item__icon
            img(src="./assets/img/icons/features/printer.svg" alt="feature icon").list-item__icon-img
          span.list-item__description Качественное нанесение

        li.features-card-features-list-item
          .list-item__icon
            img(src="./assets/img/icons/features/color-swatches.svg" alt="feature icon").list-item__icon-img
          span.list-item__description Дизайн -сопровождение заказов

        li.features-card-features-list-item
          .list-item__icon
            img(src="./assets/img/icons/features/flag.svg" alt="feature icon").list-item__icon-img
          span.list-item__description Отправка заказов в любой регион России