extends ./assets/pug/templates/_index-template.jade

block title
  title Boxpresent.ru - catalog page


block middle-body
  main.s-catalog
    p test

  section.s-sandbox
    ul.c-breadcrumbs.--style-01
      li.breadcrumbs-item
        a(href="#").breadcrumbs-item-text Главная
      li.breadcrumbs-item
        a(href="#").breadcrumbs-item-text Каталог
      li.breadcrumbs-item
        span.breadcrumbs-item-text Промо-одежда




