extends ./assets/pug/templates/_index-template.jade

block title
  title Boxpresent.ru - index page

block top-body
  header.s-header

    //- мобильная шапка
    include ./assets/components/blocks/mobile-top-panel/_mobile-top-panel.jade

    .w-search-panel.--js-close#searchPanel
      .l-container
        form(method="post" action="https://echo.htmlacademy.ru").search-form
          input(type="text" name="search" placeholder="Поиск" autofocus).search-form__input-text.js-input-text
          button(type="submit").btn-as-wrapper.btn-main.btn--filled-green.search-form__btn-submit Найти
          button(type="button").btn-as-wrapper.btn-close.search-form__btn-close.js-close
            span.visually-hidden Закрыть



    //- .w-top-menu
    .l-container
      .w-top-menu

        //- меню с выбором городов
        include ./assets/components/blocks/city-choice-menu/_city-choice-menu.jade

        //- главное меню сайта
        include ./assets/components/blocks/main-menu/_main-menu.jade

        //- проверить статус заказа
        include ./assets/components/blocks/check-order-status/_check-order-status.jade

    .l-container.container-middle-menu
      .w-middle-menu
        //- логотип
        include ./assets/components/blocks/logotype/_logotype.jade

        nav.w-communication-methods
          //- способы связи
          include ./assets/components/blocks/communication-methods/_communication-methods.jade

        nav.w-user-navigation
          //- иконки навигации
          include ./assets/components/blocks/user-navigation/_user-navigation.jade

  section.s-fast-category
    //- быстрые категории
    include ./assets/components/blocks/fast-category/_fast-category.jade


  section.s-header-slider
    .l-container
      .l-row
        .l-col-12.--col-1680-16.col-header-slider
          //- слайдер
          include ./assets/components/blocks/header-slider/_header-slider.jade

        .l-col-04.--col-1680-16
          //- утп
          include ./assets/components/blocks/header-slider-category/_header-slider-category.jade



  section.s-product-slider-group
    //- слайдер с хитами продаж
    include ./assets/components/sections/product-slider-group/_s-product-slider-group.jade

  section.s-catalog
    //- каталог товаров
    include ./assets/components/sections/catalog/_s-catalog.jade

  section.s-features
    //- преимущества
    include ./assets/components/sections/features/_s-features.jade


  section.s-types-of-application
    //- типы нанесения рисунка
    include ./assets/components/sections/types-of-application/_s-types-of-application.jade


  section.s-our-services
    //- наши услуги
    include ./assets/components/sections/our-services/_s-our-services.jade

  section.s-catalog-brands  
    //- каталог брендов
    include ./assets/components/sections/catalog-brands/_s-catalog-brands.jade

  section.s-promotions
    //- акции и скидки
    include ./assets/components/sections/promotions/_s-promotions.jade

  section.s-our-work
    //- наши работы
    include ./assets/components/sections/our-work/_s-our-work.jade

  section.s-feedback
    //- форма обратной связи
    include ./assets/components/sections/feedback/_s-feedback.jade

  section.s-blog-preview
    //- блог
    include ./assets/components/sections/blog-preview/_s-blog-preview.jade

  section.s-some-text
    //- some text
    include ./assets/components/sections/some-text/_s-some-text.jade

  section.s-subscribe
    //- subscribe
    include ./assets/components/sections/subscribe/_s-subscribe.jade

  footer.s-footer
    .l-container.footer-container-01
      //- === левая колонка
      .w-footer-logotype
        include ./assets/components/blocks/logotype/_logotype.jade

        span.footer-copyright © 2020 «Бокс Презент». Все права защищены.

        a(href="#").footer-privacy-policy.link.--text-green Политика конфиденциальности

      //- === средняя колонка
      nav.footer-navigation

        .w-footer-navigation-group
          span.footer-title Каталог продукции

          ul.footer-navigation-list.js-component-expand-block__list
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Подарочные наборы
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Путешествие и отдых
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Ежедневники и блокноты
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Ручки
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Промо-сувениры
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Часы
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Уютный дом
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Упаковка подарочная

        .w-footer-navigation-group
          span.footer-title О компании

          ul.footer-navigation-list.js-component-expand-block__list
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Кто мы
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Отзывы
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Портфолио
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Услуги
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Контакты
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Для поставщиков
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Условия работы
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Блог

        .w-footer-navigation-group
          span.footer-title Для клиентов 

          ul.footer-navigation-list.js-component-expand-block__list
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Оплата
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Вопрос-ответ
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Доставка
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Бонусная программа
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Как сделать заказ
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Как стать поставщиком
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Документы
            li.footer-navigation-list-item
              a(href="#").footer-navigation-list-item__link Возврат товара

      //- === правая колонка
      .w-contact-info-group
        span.footer-title Контакты

        .w-contact-info-list
          address.contact-info-item.--phone
            a(href="tel:+74956004177").contact-info-item__text +7 (495) 600-41-77
          address.contact-info-item.--mail
            a(href="mailto:info@boxpresent.ru").contact-info-item__text info@boxpresent.ru
          address.contact-info-item.--location
            span.contact-info-item__text Москва, пл. Тверская застава д.3

    .w-line-02
      .l-container.footer-container-02
        ul.footer-soc-icons

          li.footer-soc-icons-item
            a(href="#").footer-soc-icons-item__link.--fcbk
              span.visually-hidden Facebook

          li.footer-soc-icons-item
            a(href="#").footer-soc-icons-item__link.--instgr
              span.visually-hidden Instagram

          li.footer-soc-icons-item
            a(href="#").footer-soc-icons-item__link.--ytb
              span.visually-hidden Youtube

          li.footer-soc-icons-item
            a(href="#").footer-soc-icons-item__link.--whtsp
              span.visually-hidden WhatsApp

          li.footer-soc-icons-item
            a(href="#").footer-soc-icons-item__link.--tlgr
              span.visually-hidden Telegram

        .w-yandex-cashbox
          a(href="#").yandex-cashbox__link
            img(src="./assets/img/footer/yandex-cashbox.svg" alt="yandex cashbox logotype")
            span.visually-hidden Яндекс Касса

        .w-banner
          a(href="#").banner-link
            img(src="./assets/img/footer/supplier-portal.png" alt="image banner")
            span.visually-hidden Портал поставщиков



block modal-window
  //- a.js-show-modal(href="#modal_01" data-target-modal="#modal_01") Заказать звонок
  //- button.js-show-modal(data-target-modal="#modal_01") Заказать звонок



  //- === modal_01 - обратный звонок
  .modal-overlay.js-modal-overlay#modal_01
    form.modal-body(method="post" action="https://echo.htmlacademy.ru")
      button(type="button").btn-as-wrapper.modal-close 
        span.visually-hidden Закрыть

      .modal-body-heading 
        span.modal-body-heading__title Обратный звонок

      .modal-body-content
        label.component-input-text.js-component-input-text
          input.input-text-form(type="text" name="username").js-input
          span.input-text-label.--bg-white Ваше имя#[span.star *]

        label.component-input-text.js-component-input-text
          input.input-text-form(type="text" name="phone").js-input
          span.input-text-label.--bg-white Ваш телефон#[span.star *]

        button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Отправить

        span.modal-description.--callback.
          Отправляя данные, вы соглашаетесь на #[a(href="#").link.--underline обработку персональных данных]

  //- === modal_02 - заказать образец
  .modal-overlay.js-modal-overlay#modal_02
    form.modal-body.component-tabs-panel(method="post" action="https://echo.htmlacademy.ru")
      button(type="button").btn-as-wrapper.modal-close 
        span.visually-hidden Закрыть

      .modal-body-heading 
        span.modal-body-heading__title Заказать образец

      .modal-body-content
        label.component-input-text.js-component-input-text
          input.input-text-form(type="text" name="username").js-input
          span.input-text-label.--bg-white Ваше имя
        label.component-input-text.js-component-input-text
          input.input-text-form(type="text" name="phone").js-input
          span.input-text-label.--bg-white Ваш телефон#[span.star *]
        label.component-input-text.js-component-input-text
          input.input-text-form(type="text" name="login").js-input
          span.input-text-label.--bg-white Ваш E-mail#[span.star *]
        label.component-input-text.input-textarea.--text-black.js-component-input-text
          textarea(name="comment").input-text-form.js-input
          span.input-text-label.--bg-white Ваш комментарий

        button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Отправить

        span.modal-description.--callback.
          Отправляя данные, вы соглашаетесь на #[a(href="#").link.--underline обработку персональных данных]

  //- === modal_03 - вход / регистрация
  .modal-overlay.js-modal-overlay#modal_03
    form.modal-body.component-tabs-panel(method="post" action="https://echo.htmlacademy.ru")
      button(type="button").btn-as-wrapper.modal-close 
        span.visually-hidden Закрыть

      .modal-body-heading 
        ul.modal-body-heading-tab-list.component-tabs-panel-list
          li.modal-body-heading-tab-item.component-tabs-panel-item
            a(href="#" data-num-btn="1").btn-as-wrapper.modal-body-heading-tab-item__btn.component-tabs-panel-item__btn.--js-active Вход
          li.modal-body-heading-tab-item.component-tabs-panel-item
            a(href="#" data-num-btn="2").btn-as-wrapper.modal-body-heading-tab-item__btn.component-tabs-panel-item__btn Регистрация



      .modal-body-content.w-component-tabs-panel-body

        //- === tab 01
        .component-tabs-panel-body(data-num-tab="1").--js-show
          label.component-input-text.js-component-input-text
            input.input-text-form(type="text" name="login").js-input
            span.input-text-label.--bg-white Ваш E-mail#[span.star *]

          label.component-input-text.js-component-input-text
            input.input-text-form(type="password" name="password").js-input
            span.input-text-label.--bg-white Пароль#[span.star *]

          .w-line.--login
            a(href="#").link.forgot-password-link Забыли пароль?

            button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Войти

        //- === tab 02
        .component-tabs-panel-body(data-num-tab="2")
          label.component-input-text.js-component-input-text
            input.input-text-form(type="text" name="full-name").js-input
            span.input-text-label.--bg-white ФИО


          label.component-input-text.js-component-input-text
            input.input-text-form(type="text" name="email").js-input
            span.input-text-label.--bg-white Ваш E-mail#[span.star *]

          label.component-input-text.js-component-input-text
            input.input-text-form(type="password" name="password_01").js-input
            span.input-text-label.--bg-white Пароль#[span.star *]

          label.component-input-text.js-component-input-text
            input.input-text-form(type="password" name="password_02").js-input
            span.input-text-label.--bg-white Повторите пароль#[span.star *]

          .w-line.--reg
            button.btn-main.btn--filled-green.modal-body__btn-send(type="submit") Зарегистрироваться

            span.modal-description.
              Отправляя данные, вы соглашаетесь на #[a(href="#").link.--underline обработку персональных данных]
