extends ./assets/pug/templates/_index-template.jade

block title
  title Boxpresent.ru - index page


block middle-body
  section.s-header-slider
    .l-container
      .l-row
        .l-col-12.--col-1680-16.col-header-slider
          //- слайдер
          include ./assets/components/blocks/header-slider/_header-slider.jade

        .l-col-04.--col-1680-16
          //- утп
          include ./assets/components/blocks/header-slider-category/_header-slider-category.jade



  section.s-product-slider-group
    //- слайдер с хитами продаж
    include ./assets/components/sections/product-slider-group/_s-product-slider-group.jade

  section.s-catalog
    //- каталог товаров
    include ./assets/components/sections/catalog/_s-catalog.jade

  section.s-features
    //- преимущества
    include ./assets/components/sections/features/_s-features.jade


  section.s-types-of-application
    //- типы нанесения рисунка
    include ./assets/components/sections/types-of-application/_s-types-of-application.jade


  section.s-our-services
    //- наши услуги
    include ./assets/components/sections/our-services/_s-our-services.jade

  section.s-catalog-brands  
    //- каталог брендов
    include ./assets/components/sections/catalog-brands/_s-catalog-brands.jade

  section.s-promotions
    //- акции и скидки
    include ./assets/components/sections/promotions/_s-promotions.jade

  section.s-our-work
    //- наши работы
    include ./assets/components/sections/our-work/_s-our-work.jade

  section.s-feedback
    //- форма обратной связи
    include ./assets/components/sections/feedback/_s-feedback.jade

  section.s-blog-preview
    //- блог
    include ./assets/components/sections/blog-preview/_s-blog-preview.jade

  section.s-some-text
    //- some text
    include ./assets/components/sections/some-text/_s-some-text.jade

  section.s-subscribe
    //- subscribe
    include ./assets/components/sections/subscribe/_s-subscribe.jade
