// === === цвета
// =============================================================================

// === по цветам
$color-white-1: #FFFFFF;

$color-black-1: #000000;
$color-black-2: #282828;
$color-black-3: #414141;
$color-black-4: #293034;

$color-gray-1: #EEEEEE;
$color-gray-2: #6A6A6A;
$color-gray-3: #F3F6F8;
$color-gray-4: #E5E5E5;
$color-gray-5: #DCDCE4;
$color-gray-6: #F0F0F0;
$color-gray-7: #F6F6F7;
$color-gray-8: #EFEFEF;
$color-gray-9: #f8f8f8;
$color-gray-10: #EBEFF3;
$color-gray-11: #E6E6E6;
$color-gray-12: #EBEBEB;
$color-gray-13: #a5a5a5;


$color-green-1: #B1C918;
$color-green-1--hover: #7f9200;
$color-green-1--hover-2: #b1c053;
$color-green-2: #F9FDDF;
$color-green-2--hover: #fdfff0;
$color-green-3: #8a9c21;
$color-green-4: #98ca57;
$color-green-5: rgba(83, 174, 71, 0.1);
$color-green-6: #135323;
$color-green-7: #9FB41C;

$color-yellow-1: #FAFDEA;

$color-red-1: #c91818;
$color-red-2: #F21818;

$color-blue-1: #83C5E5;
$color-blue-1-hover-1: rgb(99, 162, 194);
$color-blue-2: #2DA0D8;
$color-blue-3: #00AEEF;




// === по блокам
$color-border-1: $color-gray-1;

$color-section-bg-1: $color-white-1;
$color-section-bg-2: $color-gray-4;

$color-mobile-panel-bg-1: $color-green-4;

$color-mobile-btn-content: $color-white-1;

$color-modal-window-bg-1: $color-white-1;
$color-modal-window-bg-2: $color-green-5;


$color-product-card-bg: #ffffff;
$color-product-list-colors-selected-border: #FCF0F0;


// === типографика
$color-content-text-1: $color-black-1;
$color-content-text-1--hover: $color-green-3;
$color-content-text-1--hover-2: $color-green-6;

$color-content-text-decoration: $color-green-1;

$color-content-text-gray-1: $color-gray-2;

$color-content-text-white-1: $color-white-1;


// === формы
// =============================================================================