// =============================================================================

.s-header {
  // overflow: hidden;

  .container-middle-menu {
    position: relative;

    // === серая полоска в шапке под телефоном и почтой нижняя
    &::after {
      content: "";
      position: absolute;

      left: 50%;
      transform: translate(-50%);
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: $color-border-1;
    }
  }
}

.w-top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  // position: relative;
  // z-index: 2;

  height: 100%;
  min-height: 53px;

  @media(max-width: 1258px) {
    flex-wrap: wrap;

    .component-city-choice-menu {
      order: 2;
      margin-left: auto;

      .menu-heading {
        height: 100%;
        align-items: center;
      }
    }

    .w-main-menu {
      order: 1;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 16px;
    }

    .check-order-status {
      order: 3;
    }
  }
}

.component-city-choice-menu {
  flex-shrink: 0;
  padding-right: 1%;
  width: 150px;
  min-width: 150px;
  height: 53px;

  .menu-heading {
    height: 100%;
    align-items: center;
  }
}

.w-main-menu {
  flex-shrink: 1;
  margin-right: auto;
  max-width: 886px;
  height: 53px;
}

.check-order-status {
  flex-shrink: 1;
  max-width: 283px;
  min-width: 245px;
  height: 53px;
  width: 100%;
}

.w-mobile-top-panel {
  display: flex;
  align-items: center;
  height: 100%;
}

.w-middle-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;

  min-height: 105px;
}


.logo {
  flex-shrink: 0;
}

.w-communication-methods {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0;
  height: 105px;
  display: flex;
  align-items: center;



  .communication-methods-item {
    margin: 12px;
  }

  &::after {
    // content: "";
    position: absolute;

    left: -50%;
    right: 0;
    bottom: 0;
    width: 300vw;
    height: 1px;
    background-color: $color-border-1;
  }
}

.communication-methods-list {
  width: 100%;
  justify-content: space-evenly;
}

.w-user-navigation {
  width: 30.5%;
  min-width: 410px;
}

.s-fast-category {
  padding-top: 18px;
}

// === adaptive
// =============================================================================

@media(max-width: 1258px) {
  .container-middle-menu {

    // === серая полоска в шапке под телефоном и почтой верхняя
    &::before {
      content: "";
      position: absolute;

      left: 50%;
      transform: translate(-50%);
      top: 10px;
      width: 100vw;
      height: 1px;
      background-color: $color-border-1;
    }

  }

  .w-middle-menu {
    position: relative;

    padding-top: 10px;
    margin-top: 20px;

    .logo {
      position: absolute;
      top: -20px;
      transform: translate(0, -90%);
    }
  }

  .w-communication-methods {

    .communication-methods-item {
      margin-left: 0;
      margin-right: 0;
      padding-left: 60px;
    }

    .communication-methods-item:not(:last-child) {
      margin-right: 12px;

    }
  }
}

@media(max-width: 992px) {
  .w-top-menu {
    padding-top: 12px;
  }

  .w-user-navigation {
    display: none;
  }
}

@media(max-width: 760px) {
  .w-mobile-top-panel {
    .component-city-choice-menu {
      display: flex;
    }
  }

  .w-top-menu {
    .component-city-choice-menu {
      position: absolute;

      .menu-heading {
        display: none;
      }
    }

    .check-order-status {
      margin-left: auto;
    }
  }
}

@media(max-width: 640px) {
  .container-fast-category {
    padding: 0;

    .fast-category-list {
      padding: 0 5vw;
    }
  }
}

@media(max-width: 580px) {
  .w-mobile-top-panel {
    .mobile-panel-item__cart {
      .cart-total {
        display: none;
      }
    }
  }

  .check-order-status {
    min-width: 160px;
    width: 160px;

    .check-order-status__link {
      padding-right: 0;
    }

    .inner-content {
      margin-left: 6px;
      max-width: 100px;
      white-space: normal;
    }
  }

  .w-communication-methods {
    height: auto;
    padding-top: 24px;
  }


  .communication-methods-list {
    flex-direction: column;
  }

  .w-communication-methods .communication-methods-item {
    margin: 0;
    margin-bottom: 12px;
  }
}

@media(max-width: 460px) {
  .component-mobile-top-panel {

    .mobile-panel-item {
      .mobile-panel-item__action {
        padding: 0 2px;
      }
    }

    .mobile-panel-item__cart {
      .mobile-panel-item__action {
        .cart-qty {
          top: 18px;
          left: -16px;
        }
      }
    }
  }
}

@media(max-width: 410px) {
  .component-mobile-top-panel {
    .w-mobile-top-panel {
      padding-left: 3%;
      padding-right: 3%;
    }

    .mobile-top-panel-btn {
      margin-right: 8px;
    }

    .component-city-choice-menu {
      width: 80px;
      min-width: 80px;
      margin-right: 8px;
    }
  }

  .w-middle-menu .logo {
    left: -10px;
  }

  .check-order-status {
    min-width: 110px;
    width: 125px;
    position: relative;
    right: -10px;
    top: 10px;

    .check-order-status__link {
      text-align: left;
      justify-content: flex-end;
      padding-right: 2px;
      padding-left: 30px;

      &::before {
        left: 4px;
      }

      &::after {
        left: 4px;
      }
    }

    .inner-content {
      display: flex;
      justify-content: center;
      font-size: 11px;
    }
  }
}

@media(max-width:360px) {
  .component-city-choice-menu {
    .menu-heading__selected {
      max-width: 90px;
    }
  }
}

@media(max-width:340px) {
  .component-mobile-top-panel {
    .mobile-panel-item {
      margin: 0;
    }
  }
}

// === adaptive section header-slider
// =============================================================================
@media(max-width: 1680px) {
  .header-slider-category {
    flex-direction: row;
    height: auto;

    .header-slider-category-card {
      height: 100%;
      padding-top: 3%;
      padding-bottom: 3%;
    }

    .header-slider-category-card__image {
      margin-left: 4%;
      margin-top: 0;
    }

    .w-content {
      margin-right: 4%;
      min-width: 66%;
      width: 66%;

      .header-slider-category-title {
        max-height: 3em;
      }
    }
  }
}

@media(max-width: 992px) {
  .s-header-slider {
    .w-header-slider-card-content {
      bottom: 18%;
      max-height: 73.5%;

      .header-slider-card__title {
        text-shadow: 2px 2px 6px #000000;
      }
    }

    .header-slider-list.slick-slider {
      height: 50vw;

      .slick-dots {
        bottom: 6%;
      }
    }
  }

  .header-slider-category {
    flex-direction: column;
    width: 100%;

    .header-slider-category-card {
      height: 120px;
      padding-top: 0;
      padding-bottom: 0;

      .header-slider-category-card__image {
        margin-top: 0;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .w-content {
        .header-slider-category-title {
          max-height: 1em;
        }

        .header-slider-category-description {
          max-height: 8.4em;
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .s-header-slider {
    .w-header-slider-card-content {
      width: 55%;

      .header-slider-card__title {
        font-size: 28px;
      }

      .header-slider-card__btn {
        height: 48px;
        width: 170px;
      }
    }
  }

  .header-slider-category {
    .header-slider-category-card {
      .w-content {
        .header-slider-category-title {
          max-height: 2em;
        }

        .header-slider-category-description {
          max-height: 3.6em;
        }
      }
    }
  }
}

@media(max-width: 640px) {
  .s-header-slider {
    width: 100vw;

    .l-container {
      padding: 0;
    }

    .w-header-slider-card-content {
      max-height: 100%;
      bottom: 16%;
      left: 4%;

      .header-slider-card__title {
        font-size: 22px;
        line-height: 1.3em;
        margin-bottom: 2%;
      }

      .header-slider-card__btn {
        height: 36px;
        min-height: 36px;
        width: 120px;
        font-size: 14px;
        line-height: 1;
        padding: 0 12px;
      }
    }

    .header-slider-list.slick-slider {
      height: 60vw;

      .slick-dots {
        bottom: 2%;
        left: 2%;
      }
    }
  }

  .header-slider-category {
    .header-slider-category-card {
      .header-slider-category-card__image {
        margin-left: 2%;
        width: 18%;
      }

      .w-content {
        margin-right: 6%;
        min-width: 72%;
        width: 72%;

        .header-slider-category-title {
          font-size: 20px;
        }
      }
    }
  }
}

@media(max-width: 360px) {
  .s-header-slider {
    .w-header-slider-card-content {
      width: 80%;
    }
  }
}