//- to include
//- include ./assets/components/sections/our-services/_s-our-services.jade

.l-container
  .section-heading.our-services-heading
    span.section-heading__title Наши услуги
    .section-heading-buttons
      button(type="button")#our-services-cards-prev.btn-as-wrapper.btn-slider.btn-round--slider.--left #[span.visually-hidden Предыдущий]
      button(type="button")#our-services-cards-next.btn-as-wrapper.btn-slider.btn-round--slider.--right #[span.visually-hidden Следующий]

  .w-our-services-cards#our-services-cards

    .w-slide.--one-cards-inside
      a(href="#").our-services-card.--big.--bg-gray-1.--text-black
        img(src="./assets/img/sliders/our-services/slide-big-01.png" alt="image services").our-services-card__img
        .w-content-outer
          .w-content
            span.our-services-card__subheading Качественно, красочно, на любой поверхности
            span.our-services-card__heading Нанесение логотипа
            span.our-services-card__description 19 видов брендирования!

    .w-slide.--two-cards-inside 
      a(href="#").our-services-card.--small.--bg-blue.--text-white
        img(src="./assets/img/sliders/our-services/slide-small-02.png" alt="image services").our-services-card__img
        .w-content-outer
          .w-content
            span.our-services-card__heading Индивидуальная упаковка
      a(href="#").our-services-card.--small.--small-heading-bottom.--bg-gray-2.--text-black
        img(src="./assets/img/sliders/our-services/slide-small-03.png" alt="image services").our-services-card__img
        .w-content-outer
          .w-content
            span.our-services-card__heading Доставка

    .w-slide.--one-cards-inside
      a(href="#").our-services-card.--big.--bg-gray-1.--text-black
        img(src="./assets/img/sliders/our-services/slide-big-01.png" alt="image services").our-services-card__img
        .w-content-outer
          .w-content
            span.our-services-card__subheading Test
            span.our-services-card__heading Test
            span.our-services-card__description Test

    .w-slide.--two-cards-inside 
      a(href="#").our-services-card.--small.--bg-blue.--text-white
        img(src="./assets/img/sliders/our-services/slide-small-02.png" alt="image services").our-services-card__img
        .w-content-outer
          .w-content
            span.our-services-card__heading Test
      a(href="#").our-services-card.--small.--small-heading-bottom.--bg-gray-2.--text-black
        img(src="./assets/img/sliders/our-services/slide-small-03.png" alt="image services").our-services-card__img
        .w-content-outer
          .w-content
            span.our-services-card__heading Test
