extends ./assets/pug/templates/_index-template.jade

//- block style

//- block upper-script

block title
  title Liba Biba Pupa Lupa :D

block top-body
  header.s-header
    .l-container
      .w-header-1
        a.logo(href="./liba-biba-pupa-lupa.html")
          img.logo__img(src="./assets/img/SadCat.svg" alt="Logotype")
        h1.main-title.--title-h1 CSS3 library - Liba Biba Pupa Lupa

block middle-body
  main.s-main
    .l-container
      .w-paper(style="height:100vw;")
        .w-kekkek(style="width:100%;")
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          .l-container.debug(style="padding-top:1%;padding-bottom:1%;")
            | some content


block bottom-body

