//- to include
//- include ./assets/components/sections/our-work/_s-our-work.jade

.l-container
  .section-heading
    span.section-heading__title Наши работы
    a(href="#").btn-main.btn--filled-green  Перейти в портфолио

  .our-work-list#masonryOurWork
    .our-work-card
      img(src="./assets/img/our-work/card_01.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aliquam.
    .our-work-card
      img(src="./assets/img/our-work/card_02.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Сувенирная продукция для «Arla Natura»
    .our-work-card
      img(src="./assets/img/our-work/card_03.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    .our-work-card
      img(src="./assets/img/our-work/card_04.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Lorem ipsum dolor, sit amet consectetur adipisicing.
    .our-work-card
      img(src="./assets/img/our-work/card_05.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae veniam fugiat vel illo eius!
    .our-work-card
      img(src="./assets/img/our-work/card_06.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Lorem ipsum dolor sit.
    .our-work-card
      img(src="./assets/img/our-work/card_07.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore consequatur maxime quia!
    .our-work-card
      img(src="./assets/img/our-work/card_08.jpg" alt="our work image").our-work-card__img
      .w-content
        span.our-work-card__description.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis saepe cumque delectus quas at.
