//- to include
//- include ./assets/components/sections/catalog-brands/_s-catalog-brands.jade


.l-container
  .brands-heading
    span.section-heading.--just-title-center Каталог по брендам

  ul.brands-list#brands-list
    li.brand-list-card
      a(href="#").brand-list-card-link
        img(src="./assets/img/sliders/catalog-brands/brand_01.png" alt="brand logotype").brand-list-card-img
    li.brand-list-card
      a(href="#").brand-list-card-link
        img(src="./assets/img/sliders/catalog-brands/brand_02.png" alt="brand logotype").brand-list-card-img
    li.brand-list-card
      a(href="#").brand-list-card-link
        img(src="./assets/img/sliders/catalog-brands/brand_03.png" alt="brand logotype").brand-list-card-img
    li.brand-list-card
      a(href="#").brand-list-card-link
        img(src="./assets/img/sliders/catalog-brands/brand_04.png" alt="brand logotype").brand-list-card-img
    li.brand-list-card
      a(href="#").brand-list-card-link
        img(src="./assets/img/sliders/catalog-brands/brand_05.png" alt="brand logotype").brand-list-card-img
    li.brand-list-card
      a(href="#").brand-list-card-link
        img(src="./assets/img/sliders/catalog-brands/brand_06.png" alt="brand logotype").brand-list-card-img
