// === style
// =============================================================================

.s-catalog-brands {
  background-color: $color-gray-9;
  user-select: none;
  padding-top: 2.7%;
  padding-bottom: 2.5%;
  overflow: hidden;


  .section-heading {
    margin-bottom: 0;
  }
}

.brands-list {
  width: 100%;
  // overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.brand-list-card {
  width: calc(100% / 5 + 1px);
  flex-shrink: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 1px solid $color-gray-9;
  background-color: $color-white-1;

  &:not(:first-child) {
    margin-left: -1px;
  }

  .brand-list-card-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .brand-list-card-img {
    width: 50%;
    min-width: 154px;
    object-fit: contain;
  }
}



// === slider
// =============================================================================

.s-catalog-brands {

  .brands-list.slick-slider {
    min-width: 0;
    position: relative;

    .slick-list {
      overflow: hidden;
      max-width: 100%;
      min-width: 100%;
    }

    .slick-track {
      display: flex;
      max-width: 100%;
      max-width: 100%;
    }

    .slick-slide {
      transition: all 0.3s ease 0s;
    }

    .slick-arrow {
      position: absolute;
      z-index: 2;
      width: 47px;
      height: 47px;
      font-size: 0;
      cursor: pointer;

      border: none;
      background: $color-blue-1;

      border-radius: 50%;

      &.slick-prev {
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);

        &::after {
          content: "";
          position: absolute;
          left: 48%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 18px;
          height: 18px;
          background: URL('../img/icons/arrow-left.svg') center center/contain no-repeat;
        }
      }

      &.slick-next {
        right: 0;
        top: 50%;

        transform: translate(50%, -50%);

        &::after {
          content: "";
          position: absolute;
          right: 48%;
          top: 50%;
          transform: translate(50%, -50%);
          width: 18px;
          height: 18px;
          background: URL('../img/icons/arrow-right.svg') center center/contain no-repeat;
        }
      }
    }

    .slick-arrow {
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media(max-width: 1200px) {
    .brands-list.slick-slider {
      .slick-arrow {
        &.slick-prev {
          transform: translate(-80%, -50%);
        }

        &.slick-next {
          transform: translate(80%, -50%);
        }
      }
    }
  }

  @media(max-width: 900px) {
    .brands-list.slick-slider {
      .slick-arrow {
        width: 38px;
        height: 38px;

        &.slick-prev {
          transform: translate(-3vw, -50%);
        }

        &.slick-next {
          transform: translate(3vw, -50%);
        }
      }
    }
  }


  @media(max-width: 568px) {
    .brands-list.slick-slider {
      .slick-arrow {
        height: 98%;
        border-radius: 6%;
        width: 44px;
        background: none;

        &.slick-prev {
          transform: translate(-4vw, -50%);

          &::after {
            background: URL('../img/icons/arrow-left-green-2.svg') center center/contain no-repeat;
            height: 32px;
            width: 32px;
          }
        }

        &.slick-next {
          transform: translate(4vw, -50%);

          &::after {
            background: URL('../img/icons/arrow-right-green-2.svg') center center/contain no-repeat;
            height: 32px;
            width: 32px;
          }
        }
      }
    }
  }
}

// === animations and actions
// =============================================================================
.brand-list-card {
  transition: all 0.3s ease 0s;

  .brand-list-card-img {
    transform: translateZ(0);
    transition: all 0.3s ease 0s;
  }

  &:hover {
    border-bottom: 1px solid $color-green-1;

    .brand-list-card-img {
      transform: translateY(-5px);
    }
  }
}


// === adaptive
// =============================================================================


@media(max-width: 900px) {
  .brand-list-card {
    width: calc(100% / 4 + 1px);
  }
}

@media(max-width: 768px) {
  .brand-list-card {
    width: calc(100% / 3 + 1px);
  }
}

@media(max-width: 568px) {
  .brand-list-card {
    width: calc(100% / 2 + 1px);
  }
}

@media(max-width: 374px) {
  .brand-list-card {
    .brand-list-card-img {
      width: 75%;
      min-width: 0;
      object-fit: contain;
    }
  }
}