//- to include
//- include ./assets/components/blocks/fast-category/_fast-category.jade


.l-container.container-fast-category.js-component-fast-category

  button.btn-as-wrapper.fast-category-btn-view-all(title="Показать еще").js-component-fast-category-btn
    span.inner-content

  nav.l-row.fast-category-list.js-component-fast-category-list

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_1.svg" alt="category image")
          .fast-category-item__title Ручки

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_2.svg" alt="category image")
          .fast-category-item__title Сумки

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_3.svg" alt="category image")
          .fast-category-item__title Календари

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_4.svg" alt="category image")
          .fast-category-item__title Корпоративные подарки 


    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_5.svg" alt="category image")
          .fast-category-item__title Ежедневники и блокноты

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_6.svg" alt="category image")
          .fast-category-item__title Промо-одежда

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_7.svg" alt="category image")
          .fast-category-item__title Электроника

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_8.svg" alt="category image")
          .fast-category-item__title Путешествие и отдых




    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_1.svg" alt="category image")
          .fast-category-item__title Test

    .l-col-02.--col-1280-04.--col-640-08
      .fast-category-item
        a(href="#").fast-category-item__link
          .fast-category-item__image
            img.fast-category-item__image-img(src="./assets/img/icons/fast-category/category_2.svg" alt="category image")
          .fast-category-item__title Test
