//- to include
//- include ./assets/components/blocks/header-slider/_header-slider.jade


.header-slider-list#header-slider

  .header-slider-card
    .header-slider-card__image
      img(src="./assets/img/sliders/header-slider/slide_01.jpg" alt="slide image").header-slider-card__image-img
    .w-header-slider-card-content
      .header-slider-card__title Бизнес подарки, корпоративные сувениры с вашим логотипом
      a(href="#").header-slider-card__btn.btn-main.btn--filled-green Подробнее


  .header-slider-card
    .header-slider-card__image
      img(src="./assets/img/sliders/header-slider/slide_02.jpg" alt="slide image").header-slider-card__image-img
    .w-header-slider-card-content
      .header-slider-card__title Бизнес подарки, корпоративные сувениры с вашим логотипом
      a(href="#").header-slider-card__btn.btn-main.btn--filled-green Подробнее


  .header-slider-card
    .header-slider-card__image
      img(src="./assets/img/sliders/header-slider/slide_03.jpg" alt="slide image").header-slider-card__image-img
    .w-header-slider-card-content
      .header-slider-card__title Бизнес подарки, корпоративные сувениры с вашим логотипом
      a(href="#").header-slider-card__btn.btn-main.btn--filled-green Подробнее


  .header-slider-card
    .header-slider-card__image
      img(src="./assets/img/sliders/header-slider/slide_04.jpg" alt="slide image").header-slider-card__image-img
    .w-header-slider-card-content
      .header-slider-card__title Бизнес подарки, корпоративные сувениры с вашим логотипом
      a(href="#").header-slider-card__btn.btn-main.btn--filled-green Подробнее
