//- to include
//- include ./assets/components/blocks/main-menu/_main-menu.jade

nav.w-main-menu#mmenu
  ul.main-menu-list
    li.main-menu-item
      a(href="#").main-menu-item__link.
        О компании
      ul.main-menu-sublevel
        li.main-menu-sublevel-item
          a(href="#").main-menu-sublevel-item__link.
            Lorem ipsum
        li.main-menu-sublevel-item
          a(href="#").main-menu-sublevel-item__link.
            Lorem ipsum
        li.main-menu-sublevel-item
          a(href="#").main-menu-sublevel-item__link.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li.main-menu-sublevel-item
          a(href="#").main-menu-sublevel-item__link.
            Lorem ipsum

    li.main-menu-item
      a(href="#").main-menu-item__link.kek.
        Услуги
    li.main-menu-item
      a(href="#").main-menu-item__link.
        Нанесение логотипа
    li.main-menu-item
      a(href="#").main-menu-item__link.
        Наши работы
    li.main-menu-item
      a(href="#").main-menu-item__link.
        Оплата и доставка
    li.main-menu-item
      a(href="#").main-menu-item__link.
        Новости 
    li.main-menu-item
      a(href="#").main-menu-item__link.
        Контакты
    li.main-menu-item.--hide-is-desktop
      a(href="#").main-menu-item__link.
        Каталог
