.component-tabs-panel

  ul.component-tabs-panel-list
    li.component-tabs-panel-item
      button(type="button").component-tabs-panel-item__btn
    li.component-tabs-panel-item
      button(type="button").component-tabs-panel-item_btn

  .w-component-tabs-panel-body
    .component-tabs-panel-body
      p tab №1
    .component-tabs-panel-body
      p tab №2
