//- to include
//- include ./assets/components/sections/types-of-application/_s-types-of-application.jade



.l-container

  span.section-heading.--just-title-center Используем различные виды нанесения

  .l-row.w-types-of-application
    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_01.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title 
          span.content Вышивка

    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_02.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title
          span.content Деколь

    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_03.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title
          span.content Лазерная гравиров<wbr>ка

    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_04.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title
          span.content Тампо<wbr>печать

    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_05.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title
          span.content Термо<wbr>трансфер

    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_06.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title
          span.content Тиснение

    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_07.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title
          span.content Ультра<wbr>фиолето<wbr>вая печать

    .l-col-02.--col-1080-04.--col-568-08
      a(href="#").types-of-application-card
        .types-of-application-card__image
          img(src="./assets/img/types-of-application/type_08.png" alt="image").types-of-application-card__image-img
        .types-of-application-card__title
          span.content Шелко<wbr>графия