// === style
// =============================================================================

.s-product-slider-group {
  padding-top: 40px;
  padding-bottom: 65px;
  background-color: $color-section-bg-2;
  user-select: none;
}


// === tabs
.slider-group-navigation {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 45px;

  .slider-group-tab-item {
    display: inline-flex;
    align-items: center;

    // === точки
    &:not(:last-child) {
      &::after {
        content: "";
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-left: 1.4em;
        margin-right: 1.4em;
        background-color: $color-green-1;
        border-radius: 50%;
      }
    }
  }


  .slider-group-tab-item__btn {
    position: relative;
    padding: 6px 0;
    display: inline-flex;
    font-weight: 500;
    font-size: 24px;

    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $color-green-1;
      transform: scale(0);
    }
  }

  .slider-group__btn {
    position: relative;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.slider-group-tab-list {
  display: flex;
  margin-right: auto;
}

.w-slider-group-buttons {
  display: flex;
}

// === slider
.slider-group {
  display: flex;

  // width: 100%;
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;

}

.slider-group-slide {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  width: calc(100% / 4 - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.product-card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-top: 15%;
  padding-bottom: 11%;
  padding-left: 7%;
  padding-right: 7%;

  background-color: $color-product-card-bg;
  border: 2px solid $color-product-card-bg;
  border-radius: 5px;

  .product-card-color-list {
    position: absolute;
    left: 6%;
    top: 4%;

    .product-card-color-item {

      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;

      .product-card-color-item__action {
        position: relative;
        z-index: 2;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        &::before {
          content: "";
          position: absolute;
          z-index: -1;

          left: 3px;
          top: 3px;
          width: 23px;
          height: 23px;
          background-color: $color-product-list-colors-selected-border;
          border-radius: 50%;
        }

        .inner-content {

          z-index: 2;

          display: inline-flex;
          width: 17px;
          height: 17px;
          border-radius: 50%;
        }
      }
    }
  }

  .w-icon-buttons {
    position: absolute;
    top: 3%;
    right: 6%;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .product-card-icon-btn {

      &:not(:last-child) {
        margin-bottom: 8px;
      }

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;


      width: 38px;
      height: 38px;

      .inner-content {
        display: inline-flex;
        width: 24px;
        height: 24px;
      }

      &.--add-to-favorites {
        .inner-content {
          background-image: URL('../img/icons/product-card/heart-gray.svg');
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        &.--active {
          .inner-content {
            background-image: URL('../img/icons/product-card/heart-green-full.svg');
          }
        }
      }

      &.--order-sample {
        .inner-content {
          background-image: URL('../img/icons/product-card/forefinger-gray.svg');
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }


  .product-card__image {
    flex-shrink: 0;
    display: inline-flex;

    width: 66%;
    height: 210px;
    max-width: 210px;
    margin: 0 auto 14%;
    justify-content: center;
    align-items: center;

    .product-card__image-img {
      width: 100%;
      object-fit: contain;
    }
  }

  .product-card-title {
    flex-shrink: 0;
    flex-grow: 1;
    margin-bottom: 3.5%;

    display: inline-flex;
    width: 100%;
    max-height: 6em;
    overflow: hidden;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    color: $color-content-text-1;
    overflow-wrap: break-word;

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }


  .w-price-and-btn {
    flex-shrink: 0;
    margin-top: 3%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .product-card-availability {
    display: inline-flex;
    margin-bottom: 5%;
    align-items: center;
    white-space: nowrap;

    font-size: 16px;
    line-height: 1;
    color: $color-content-text-gray-1;

    // === индикатор
    &::before {
      content: "";
      flex-shrink: 0;
      position: relative;
      width: 7px;
      height: 7px;
      margin-right: 0.4em;
      border-radius: 50%;
      background-color: $color-gray-4;
    }

    &.--in-stock {
      &::before {
        background-color: $color-green-1;
      }
    }

    &.--not-available {
      &::before {
        background-color: $color-red-1;
      }
    }
  }

  .product-card-price {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    margin-right: 1em;
    width: 7em;
    min-width: 7em;
    min-height: 41px;
    overflow: hidden;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .product-card-price__old-price {
      position: relative;

      padding-left: 1%;
      padding-right: 2%;
      min-height: 16px;

      font-size: 16px;
      line-height: 1;
      color: $color-content-text-gray-1;

      white-space: nowrap;

      &::after {
        content: "";

        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $color-gray-2;
      }
    }

    .product-card-price__new-price {
      min-height: 25px;

      font-weight: 400;
      font-size: 25px;
      line-height: 1;
      white-space: nowrap;

      .value {
        font-weight: 500;
        margin-right: 0.1em;
      }
    }
  }

  .product-card-price__btn {
    position: relative;
    z-index: 2;
    height: 55px;
    width: 146px;
    font-size: 16px;
    margin-left: auto;

    .inner-content {

      padding-left: 28px;
      margin-left: -6px;
      white-space: nowrap;
      position: relative;

      &::before {
        content: "";
        position: absolute;

        left: 0;
        top: 0;

        height: 20px;
        width: 20px;
        margin-right: 0.5em;
        background: URL('../img/icons/product-card/cart-green.svg') center center/contain no-repeat;
      }
    }
  }
}


// === animations and actions
// =============================================================================
.product-card {
  transition: all 0.3s ease 0s;

  &:hover {
    border: 2px solid $color-green-1;
  }

  // === color list
  .product-card-color-list {
    .product-card-color-item {
      .product-card-color-item__action {
        transition: all 0.3s ease 0s;

        &::before {
          opacity: 0;
          transition: all 0.3s ease 0s;
        }

        &:hover {
          transform: scale(1.15);

          &::before {
            opacity: 1;
          }
        }
      }
    }
  }


  // === icon buttons
  .w-icon-buttons {

    .product-card-icon-btn {
      transition: background-image 0.3s ease 0s;

      .inner-content {
        transition: background-image 0.3s ease 0s;
      }

      &.--add-to-favorites {
        transition: background-image 0.3s ease 0s;

        &:hover {
          transform: scale(1.1);

          .inner-content {
            background-image: URL('../img/icons/product-card/heart-green.svg');
          }
        }
      }

      &.--order-sample {
        transition: background-image 0.3s ease 0s;

        &:hover {
          transform: scale(1.1);

          .inner-content {
            background-image: URL('../img/icons/product-card/forefinger-green.svg');
          }
        }
      }
    }
  }

  // === button buy
  .product-card-price__btn {
    transition: all 0.3s ease 0s;

    .inner-content::before {
      transition: all 0.3s ease 0s;
    }

    &:hover {
      color: $color-white-1;

      .inner-content::before {
        background-image: URL('../img/icons/product-card/cart-white.svg');
      }
    }
  }
}

.slider-group-navigation {
  .slider-group-tab-item {
    .slider-group-tab-item__btn {
      transition: all 0.3s ease 0s;

      &::after {
        transition: all 0.3s ease 0s;
      }
    }

    &.--js-active {
      .slider-group-tab-item__btn {
        &::after {
          transform: scale(1);
        }
      }
    }

    .slider-group-tab-item__btn {
      &:hover {
        color: $color-content-text-1--hover;
      }
    }
  }
}

.w-slider-group-buttons {
  .slider-group__btn {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.6;
    }
  }
}

// === slider plugin
// =============================================================================
.slider-group.slick-slider {
  min-width: 0;
  margin-left: 0;
  margin-right: -20px;

  .slick-list {
    overflow: hidden;
    max-width: 100%;
    min-width: 100%;
  }

  .slick-track {
    display: flex;
    max-width: 100%;
    max-width: 100%;
  }

  .slick-slide {
    flex-shrink: 0;
    transition: all 0.3s ease 0s;
  }
}


// === adaptive
// =============================================================================

.s-product-slider-group {
  @media(max-width: 1280px) {
    .slider-group-slide {
      width: calc(100% / 3 - 20px);
    }
  }

  @media(max-width: 992px) {
    .slider-group-slide {
      .product-card {
        padding-top: 2%;
        padding-bottom: 4%;
      }

      .product-card-color-list {
        left: 1%;
      }

      .w-icon-buttons {
        right: 0;
      }

      .product-card__image {
        margin-bottom: 0;
        width: 80%;
      }

      .product-card-title {
        margin-bottom: 1em;
      }
    }
  }

  @media(max-width: 768px) {
    .slider-group-slide {
      width: calc(100% / 2 - 20px);
    }

    .slider-group-tab-item__btn {
      font-size: 18px;
    }

    .slider-group-navigation {
      .slider-group-tab-item {
        &::after {
          margin-left: 2vw;
          margin-right: 2vw;
        }
      }
    }
  }

  @media(max-width: 568px) {
    .slider-group-tab-list {
      flex-direction: column;
    }

    .slider-group-slide {
      .product-card__image {
        height: 180px;
      }
    }

    .slider-group-container {
      .slider-group-navigation {
        margin-bottom: 2vw;

        .slider-group-tab-item {
          &::after {
            display: none;
          }

          .slider-group-tab-item__btn {
            padding: 0;

            &::after {
              bottom: 2px;
            }
          }
        }
      }
    }
  }

  @media(max-width: 480px) {
    .slider-group-container {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    .slider-group-slide {
      margin-right: 2%;
      max-width: 49%;
    }
  }

  @media(max-width: 374px) { 
    .product-card { 
      .product-card-availability {
        font-size: 14px;
      }
    }
  }
}