//- to include
//- include ./assets/components/sections/catalog/_s-catalog.jade




.l-container
  .section-heading
    span.section-heading__title Выберите сувенирную продукцию
    a(href="#").section-heading__link Весь каталог

  .w-catalog-cards

    .w-group
      //- card
      .w-catalog-card.--big
        .catalog-card.--text-black.--underline-gray.--bg-gray.--bg-pattern

          .catalog-card-image
            img(src="./assets/img/catalog-products/catalog-big-01.png" alt="category image").catalog-card-image__img

          .w-catalog-card-content
            span.catalog-card__title Ежедневники и блокноты

            .component-expand-block.js-component-expand-block
              ul.catalog-card-list.js-component-expand-block__list
                li.catalog-card-item
                  a(href="#").catalog-card-link Happy gifts
                li.catalog-card-item
                  a(href="#").catalog-card-link Планинги
                li.catalog-card-item
                  a(href="#").catalog-card-link Ежедневники недатированные
                li.catalog-card-item
                  a(href="#").catalog-card-link Ежедневники датированные
                li.catalog-card-item
                  a(href="#").catalog-card-link thINKme - деловые блокноты
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test

              .w-btn-view-all
                button(type="button").btn-as-wrapper.catalog-card__view-all.js-component-expand-block__btn
                  span.thirst-state Все подкатегории
                  span.second-state Свернуть

      //- card
      .w-catalog-card.--small
        .catalog-card.--text-white.--underline-white.--bg-blue

          .catalog-card-image
            img(src="./assets/img/catalog-products/catalog-small-03.png" alt="category image").catalog-card-image__img

          .w-catalog-card-content
            span.catalog-card__title Календари

            .component-expand-block.js-component-expand-block
              ul.catalog-card-list.js-component-expand-block__list
                li.catalog-card-item
                  a(href="#").catalog-card-link Бейсболки
                li.catalog-card-item
                  a(href="#").catalog-card-link Поло
                li.catalog-card-item
                  a(href="#").catalog-card-link Толстовки
                li.catalog-card-item
                  a(href="#").catalog-card-link Ветровки
                li.catalog-card-item
                  a(href="#").catalog-card-link Шапки
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test

              .w-btn-view-all
                button(type="button").btn-as-wrapper.catalog-card__view-all.js-component-expand-block__btn
                  span.thirst-state Все подкатегории
                  span.second-state Свернуть

      //- card
      .w-catalog-card.--small
        .catalog-card.--text-black.--underline-white.--bg-dark-gray

          .catalog-card-image
            img(src="./assets/img/catalog-products/catalog-small-04.png" alt="category image").catalog-card-image__img

          .w-catalog-card-content
            span.catalog-card__title Корпоративные подарки

            .component-expand-block.js-component-expand-block
              ul.catalog-card-list.js-component-expand-block__list
                li.catalog-card-item
                  a(href="#").catalog-card-link Для документов
                li.catalog-card-item
                  a(href="#").catalog-card-link Для ноутбука
                li.catalog-card-item
                  a(href="#").catalog-card-link Дорожные сумки
                li.catalog-card-item
                  a(href="#").catalog-card-link Для шопинга
                li.catalog-card-item
                  a(href="#").catalog-card-link На пояс
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test

              .w-btn-view-all
                button(type="button").btn-as-wrapper.catalog-card__view-all.js-component-expand-block__btn
                  span.thirst-state Все подкатегории
                  span.second-state Свернуть

    .w-group

      //- card
      .w-catalog-card.--small
        .catalog-card.--text-white.--underline-white.--bg-blue

          .catalog-card-image
            img(src="./assets/img/catalog-products/catalog-small-01.png" alt="category image").catalog-card-image__img

          .w-catalog-card-content
            span.catalog-card__title Промо-одежда

            .component-expand-block.js-component-expand-block
              ul.catalog-card-list.js-component-expand-block__list
                li.catalog-card-item
                  a(href="#").catalog-card-link Бейсболки
                li.catalog-card-item
                  a(href="#").catalog-card-link Поло
                li.catalog-card-item
                  a(href="#").catalog-card-link Толстовки
                li.catalog-card-item
                  a(href="#").catalog-card-link Ветровки
                li.catalog-card-item
                  a(href="#").catalog-card-link Шапки
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test

              .w-btn-view-all
                button(type="button").btn-as-wrapper.catalog-card__view-all.js-component-expand-block__btn
                  span.thirst-state Все подкатегории
                  span.second-state Свернуть

      //- card
      .w-catalog-card.--small
        .catalog-card.--text-black.--underline-white.--bg-dark-gray

          .catalog-card-image
            img(src="./assets/img/catalog-products/catalog-small-02.png" alt="category image").catalog-card-image__img

          .w-catalog-card-content
            span.catalog-card__title Сумки

            .component-expand-block.js-component-expand-block
              ul.catalog-card-list.js-component-expand-block__list
                li.catalog-card-item
                  a(href="#").catalog-card-link Для документов
                li.catalog-card-item
                  a(href="#").catalog-card-link Для ноутбука
                li.catalog-card-item
                  a(href="#").catalog-card-link Дорожные сумки
                li.catalog-card-item
                  a(href="#").catalog-card-link Для шопинга
                li.catalog-card-item
                  a(href="#").catalog-card-link На пояс
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test

              .w-btn-view-all
                button(type="button").btn-as-wrapper.catalog-card__view-all.js-component-expand-block__btn
                  span.thirst-state Все подкатегории
                  span.second-state Свернуть


      //- card
      .w-catalog-card.--big
        .catalog-card.--text-black.--underline-gray.--bg-gray.--bg-pattern

          .catalog-card-image
            img(src="./assets/img/catalog-products/catalog-big-02.png" alt="category image").catalog-card-image__img

          .w-catalog-card-content
            span.catalog-card__title Путешествие и отдых

            .component-expand-block.js-component-expand-block
              ul.catalog-card-list.js-component-expand-block__list
                li.catalog-card-item
                  a(href="#").catalog-card-link CD-холдеры
                li.catalog-card-item
                  a(href="#").catalog-card-link Бутылки для воды
                li.catalog-card-item
                  a(href="#").catalog-card-link Фонари
                li.catalog-card-item
                  a(href="#").catalog-card-link Фляжки
                li.catalog-card-item
                  a(href="#").catalog-card-link Термосы
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test
                li.catalog-card-item
                  a(href="#").catalog-card-link test

              .w-btn-view-all
                button(type="button").btn-as-wrapper.catalog-card__view-all.js-component-expand-block__btn
                  span.thirst-state Все подкатегории
                  span.second-state Свернуть


