.l-container {
  width: 100%;
  max-width: calc(1560px + 5vw * 2);
  margin: 0 auto;
  padding: 0 5vw; }

.l-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  width: calc(100% + 20px);
  margin-bottom: -20px; }

*[class^='l-col-'] {
  flex-shrink: 0;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px; }

.l-col-min {
  width: auto; }

.l-col-max {
  width: 100%; }

.--offset-left-none {
  margin-left: 0; }

.--offset-right-none {
  margin-right: 0; }

.l-col-01 {
  width: 6.25%;
  width: calc((100% / 16) * 1); }

.--offset-left-01 {
  margin-left: 6.25% * 1;
  margin-left: calc((100% / 16) * 1); }

.--offset-right-01 {
  margin-right: 6.25% * 1;
  margin-right: calc((100% / 16) * 1); }

.l-col-02 {
  width: 12.5%;
  width: calc((100% / 16) * 2); }

.--offset-left-02 {
  margin-left: 6.25% * 2;
  margin-left: calc((100% / 16) * 2); }

.--offset-right-02 {
  margin-right: 6.25% * 2;
  margin-right: calc((100% / 16) * 2); }

.l-col-03 {
  width: 18.75%;
  width: calc((100% / 16) * 3); }

.--offset-left-03 {
  margin-left: 6.25% * 3;
  margin-left: calc((100% / 16) * 3); }

.--offset-right-03 {
  margin-right: 6.25% * 3;
  margin-right: calc((100% / 16) * 3); }

.l-col-04 {
  width: 25%;
  width: calc((100% / 16) * 4); }

.--offset-left-04 {
  margin-left: 6.25% * 4;
  margin-left: calc((100% / 16) * 4); }

.--offset-right-04 {
  margin-right: 6.25% * 4;
  margin-right: calc((100% / 16) * 4); }

.l-col-05 {
  width: 31.25%;
  width: calc((100% / 16) * 5); }

.--offset-left-05 {
  margin-left: 6.25% * 5;
  margin-left: calc((100% / 16) * 5); }

.--offset-right-05 {
  margin-right: 6.25% * 5;
  margin-right: calc((100% / 16) * 5); }

.l-col-06 {
  width: 37.5%;
  width: calc((100% / 16) * 6); }

.--offset-left-06 {
  margin-left: 6.25% * 6;
  margin-left: calc((100% / 16) * 6); }

.--offset-right-06 {
  margin-right: 6.25% * 6;
  margin-right: calc((100% / 16) * 6); }

.l-col-07 {
  width: 43.75%;
  width: calc((100% / 16) * 7); }

.--offset-left-07 {
  margin-left: 6.25% * 7;
  margin-left: calc((100% / 16) * 7); }

.--offset-right-07 {
  margin-right: 6.25% * 7;
  margin-right: calc((100% / 16) * 7); }

.l-col-08 {
  width: 50%;
  width: calc((100% / 16) * 8); }

.--offset-left-08 {
  margin-left: 6.25% * 8;
  margin-left: calc((100% / 16) * 8); }

.--offset-right-08 {
  margin-right: 6.25% * 8;
  margin-right: calc((100% / 16) * 8); }

.l-col-09 {
  width: 56.25%;
  width: calc((100% / 16) * 9); }

.--offset-left-09 {
  margin-left: 6.25% * 9;
  margin-left: calc((100% / 16) * 9); }

.--offset-right-09 {
  margin-right: 6.25% * 9;
  margin-right: calc((100% / 16) * 9); }

.l-col-10 {
  width: 62.5%;
  width: calc((100% / 16) * 10); }

.--offset-left-10 {
  margin-left: 6.25% * 10;
  margin-left: calc((100% / 16) * 10); }

.--offset-right-10 {
  margin-right: 6.25% * 10;
  margin-right: calc((100% / 16) * 10); }

.l-col-11 {
  width: 68.75%;
  width: calc((100% / 16) * 11); }

.--offset-left-11 {
  margin-left: 6.25% * 11;
  margin-left: calc((100% / 16) * 11); }

.--offset-right-11 {
  margin-right: 6.25% * 11;
  margin-right: calc((100% / 16) * 11); }

.l-col-12 {
  width: 75%;
  width: calc((100% / 16) * 12); }

.--offset-left-12 {
  margin-left: 6.25% * 12;
  margin-left: calc((100% / 16) * 12); }

.--offset-right-12 {
  margin-right: 6.25% * 12;
  margin-right: calc((100% / 16) * 12); }

.l-col-13 {
  width: 81.25%;
  width: calc((100% / 16) * 13); }

.--offset-left-13 {
  margin-left: 6.25% * 13;
  margin-left: calc((100% / 16) * 13); }

.--offset-right-13 {
  margin-right: 6.25% * 13;
  margin-right: calc((100% / 16) * 13); }

.l-col-14 {
  width: 87.5%;
  width: calc((100% / 16) * 14); }

.--offset-left-14 {
  margin-left: 6.25% * 14;
  margin-left: calc((100% / 16) * 14); }

.--offset-right-14 {
  margin-right: 6.25% * 14;
  margin-right: calc((100% / 16) * 14); }

.l-col-15 {
  width: 93.75%;
  width: calc((100% / 16) * 15); }

.--offset-left-15 {
  margin-left: 6.25% * 15;
  margin-left: calc((100% / 16) * 15); }

.--offset-right-15 {
  margin-right: 6.25% * 15;
  margin-right: calc((100% / 16) * 15); }

.l-col-16 {
  width: 100%;
  width: calc((100% / 16) * 16); }

.--offset-left-16 {
  margin-left: 6.25% * 16;
  margin-left: calc((100% / 16) * 16); }

.--offset-right-16 {
  margin-right: 6.25% * 16;
  margin-right: calc((100% / 16) * 16); }

@media (max-width: 1680px) {
  .--col-1680-01 {
    width: 6.25%;
    width: calc((100% / 16) * 1); }
  .--offset-left-1680-01 {
    margin-left: 6.25% * 1;
    margin-left: calc((100% / 16) * 1); }
  .--offset-right-1680-01 {
    margin-right: 6.25% * 1;
    margin-right: calc((100% / 16) * 1); }
  .--col-1680-02 {
    width: 12.5%;
    width: calc((100% / 16) * 2); }
  .--offset-left-1680-02 {
    margin-left: 6.25% * 2;
    margin-left: calc((100% / 16) * 2); }
  .--offset-right-1680-02 {
    margin-right: 6.25% * 2;
    margin-right: calc((100% / 16) * 2); }
  .--col-1680-03 {
    width: 18.75%;
    width: calc((100% / 16) * 3); }
  .--offset-left-1680-03 {
    margin-left: 6.25% * 3;
    margin-left: calc((100% / 16) * 3); }
  .--offset-right-1680-03 {
    margin-right: 6.25% * 3;
    margin-right: calc((100% / 16) * 3); }
  .--col-1680-04 {
    width: 25%;
    width: calc((100% / 16) * 4); }
  .--offset-left-1680-04 {
    margin-left: 6.25% * 4;
    margin-left: calc((100% / 16) * 4); }
  .--offset-right-1680-04 {
    margin-right: 6.25% * 4;
    margin-right: calc((100% / 16) * 4); }
  .--col-1680-05 {
    width: 31.25%;
    width: calc((100% / 16) * 5); }
  .--offset-left-1680-05 {
    margin-left: 6.25% * 5;
    margin-left: calc((100% / 16) * 5); }
  .--offset-right-1680-05 {
    margin-right: 6.25% * 5;
    margin-right: calc((100% / 16) * 5); }
  .--col-1680-06 {
    width: 37.5%;
    width: calc((100% / 16) * 6); }
  .--offset-left-1680-06 {
    margin-left: 6.25% * 6;
    margin-left: calc((100% / 16) * 6); }
  .--offset-right-1680-06 {
    margin-right: 6.25% * 6;
    margin-right: calc((100% / 16) * 6); }
  .--col-1680-07 {
    width: 43.75%;
    width: calc((100% / 16) * 7); }
  .--offset-left-1680-07 {
    margin-left: 6.25% * 7;
    margin-left: calc((100% / 16) * 7); }
  .--offset-right-1680-07 {
    margin-right: 6.25% * 7;
    margin-right: calc((100% / 16) * 7); }
  .--col-1680-08 {
    width: 50%;
    width: calc((100% / 16) * 8); }
  .--offset-left-1680-08 {
    margin-left: 6.25% * 8;
    margin-left: calc((100% / 16) * 8); }
  .--offset-right-1680-08 {
    margin-right: 6.25% * 8;
    margin-right: calc((100% / 16) * 8); }
  .--col-1680-09 {
    width: 56.25%;
    width: calc((100% / 16) * 9); }
  .--offset-left-1680-09 {
    margin-left: 6.25% * 9;
    margin-left: calc((100% / 16) * 9); }
  .--offset-right-1680-09 {
    margin-right: 6.25% * 9;
    margin-right: calc((100% / 16) * 9); }
  .--col-1680-10 {
    width: 62.5%;
    width: calc((100% / 16) * 10); }
  .--offset-left-1680-10 {
    margin-left: 6.25% * 10;
    margin-left: calc((100% / 16) * 10); }
  .--offset-right-1680-10 {
    margin-right: 6.25% * 10;
    margin-right: calc((100% / 16) * 10); }
  .--col-1680-11 {
    width: 68.75%;
    width: calc((100% / 16) * 11); }
  .--offset-left-1680-11 {
    margin-left: 6.25% * 11;
    margin-left: calc((100% / 16) * 11); }
  .--offset-right-1680-11 {
    margin-right: 6.25% * 11;
    margin-right: calc((100% / 16) * 11); }
  .--col-1680-12 {
    width: 75%;
    width: calc((100% / 16) * 12); }
  .--offset-left-1680-12 {
    margin-left: 6.25% * 12;
    margin-left: calc((100% / 16) * 12); }
  .--offset-right-1680-12 {
    margin-right: 6.25% * 12;
    margin-right: calc((100% / 16) * 12); }
  .--col-1680-13 {
    width: 81.25%;
    width: calc((100% / 16) * 13); }
  .--offset-left-1680-13 {
    margin-left: 6.25% * 13;
    margin-left: calc((100% / 16) * 13); }
  .--offset-right-1680-13 {
    margin-right: 6.25% * 13;
    margin-right: calc((100% / 16) * 13); }
  .--col-1680-14 {
    width: 87.5%;
    width: calc((100% / 16) * 14); }
  .--offset-left-1680-14 {
    margin-left: 6.25% * 14;
    margin-left: calc((100% / 16) * 14); }
  .--offset-right-1680-14 {
    margin-right: 6.25% * 14;
    margin-right: calc((100% / 16) * 14); }
  .--col-1680-15 {
    width: 93.75%;
    width: calc((100% / 16) * 15); }
  .--offset-left-1680-15 {
    margin-left: 6.25% * 15;
    margin-left: calc((100% / 16) * 15); }
  .--offset-right-1680-15 {
    margin-right: 6.25% * 15;
    margin-right: calc((100% / 16) * 15); }
  .--col-1680-16 {
    width: 100%;
    width: calc((100% / 16) * 16); }
  .--offset-left-1680-16 {
    margin-left: 6.25% * 16;
    margin-left: calc((100% / 16) * 16); }
  .--offset-right-1680-16 {
    margin-right: 6.25% * 16;
    margin-right: calc((100% / 16) * 16); } }

@media (max-width: 1280px) {
  .--col-1280-01 {
    width: 6.25%;
    width: calc((100% / 16) * 1); }
  .--offset-left-1280-01 {
    margin-left: 6.25% * 1;
    margin-left: calc((100% / 16) * 1); }
  .--offset-right-1280-01 {
    margin-right: 6.25% * 1;
    margin-right: calc((100% / 16) * 1); }
  .--col-1280-02 {
    width: 12.5%;
    width: calc((100% / 16) * 2); }
  .--offset-left-1280-02 {
    margin-left: 6.25% * 2;
    margin-left: calc((100% / 16) * 2); }
  .--offset-right-1280-02 {
    margin-right: 6.25% * 2;
    margin-right: calc((100% / 16) * 2); }
  .--col-1280-03 {
    width: 18.75%;
    width: calc((100% / 16) * 3); }
  .--offset-left-1280-03 {
    margin-left: 6.25% * 3;
    margin-left: calc((100% / 16) * 3); }
  .--offset-right-1280-03 {
    margin-right: 6.25% * 3;
    margin-right: calc((100% / 16) * 3); }
  .--col-1280-04 {
    width: 25%;
    width: calc((100% / 16) * 4); }
  .--offset-left-1280-04 {
    margin-left: 6.25% * 4;
    margin-left: calc((100% / 16) * 4); }
  .--offset-right-1280-04 {
    margin-right: 6.25% * 4;
    margin-right: calc((100% / 16) * 4); }
  .--col-1280-05 {
    width: 31.25%;
    width: calc((100% / 16) * 5); }
  .--offset-left-1280-05 {
    margin-left: 6.25% * 5;
    margin-left: calc((100% / 16) * 5); }
  .--offset-right-1280-05 {
    margin-right: 6.25% * 5;
    margin-right: calc((100% / 16) * 5); }
  .--col-1280-06 {
    width: 37.5%;
    width: calc((100% / 16) * 6); }
  .--offset-left-1280-06 {
    margin-left: 6.25% * 6;
    margin-left: calc((100% / 16) * 6); }
  .--offset-right-1280-06 {
    margin-right: 6.25% * 6;
    margin-right: calc((100% / 16) * 6); }
  .--col-1280-07 {
    width: 43.75%;
    width: calc((100% / 16) * 7); }
  .--offset-left-1280-07 {
    margin-left: 6.25% * 7;
    margin-left: calc((100% / 16) * 7); }
  .--offset-right-1280-07 {
    margin-right: 6.25% * 7;
    margin-right: calc((100% / 16) * 7); }
  .--col-1280-08 {
    width: 50%;
    width: calc((100% / 16) * 8); }
  .--offset-left-1280-08 {
    margin-left: 6.25% * 8;
    margin-left: calc((100% / 16) * 8); }
  .--offset-right-1280-08 {
    margin-right: 6.25% * 8;
    margin-right: calc((100% / 16) * 8); }
  .--col-1280-09 {
    width: 56.25%;
    width: calc((100% / 16) * 9); }
  .--offset-left-1280-09 {
    margin-left: 6.25% * 9;
    margin-left: calc((100% / 16) * 9); }
  .--offset-right-1280-09 {
    margin-right: 6.25% * 9;
    margin-right: calc((100% / 16) * 9); }
  .--col-1280-10 {
    width: 62.5%;
    width: calc((100% / 16) * 10); }
  .--offset-left-1280-10 {
    margin-left: 6.25% * 10;
    margin-left: calc((100% / 16) * 10); }
  .--offset-right-1280-10 {
    margin-right: 6.25% * 10;
    margin-right: calc((100% / 16) * 10); }
  .--col-1280-11 {
    width: 68.75%;
    width: calc((100% / 16) * 11); }
  .--offset-left-1280-11 {
    margin-left: 6.25% * 11;
    margin-left: calc((100% / 16) * 11); }
  .--offset-right-1280-11 {
    margin-right: 6.25% * 11;
    margin-right: calc((100% / 16) * 11); }
  .--col-1280-12 {
    width: 75%;
    width: calc((100% / 16) * 12); }
  .--offset-left-1280-12 {
    margin-left: 6.25% * 12;
    margin-left: calc((100% / 16) * 12); }
  .--offset-right-1280-12 {
    margin-right: 6.25% * 12;
    margin-right: calc((100% / 16) * 12); }
  .--col-1280-13 {
    width: 81.25%;
    width: calc((100% / 16) * 13); }
  .--offset-left-1280-13 {
    margin-left: 6.25% * 13;
    margin-left: calc((100% / 16) * 13); }
  .--offset-right-1280-13 {
    margin-right: 6.25% * 13;
    margin-right: calc((100% / 16) * 13); }
  .--col-1280-14 {
    width: 87.5%;
    width: calc((100% / 16) * 14); }
  .--offset-left-1280-14 {
    margin-left: 6.25% * 14;
    margin-left: calc((100% / 16) * 14); }
  .--offset-right-1280-14 {
    margin-right: 6.25% * 14;
    margin-right: calc((100% / 16) * 14); }
  .--col-1280-15 {
    width: 93.75%;
    width: calc((100% / 16) * 15); }
  .--offset-left-1280-15 {
    margin-left: 6.25% * 15;
    margin-left: calc((100% / 16) * 15); }
  .--offset-right-1280-15 {
    margin-right: 6.25% * 15;
    margin-right: calc((100% / 16) * 15); }
  .--col-1280-16 {
    width: 100%;
    width: calc((100% / 16) * 16); }
  .--offset-left-1280-16 {
    margin-left: 6.25% * 16;
    margin-left: calc((100% / 16) * 16); }
  .--offset-right-1280-16 {
    margin-right: 6.25% * 16;
    margin-right: calc((100% / 16) * 16); } }

@media (max-width: 1080px) {
  .--col-1080-01 {
    width: 6.25%;
    width: calc((100% / 16) * 1); }
  .--offset-left-1080-01 {
    margin-left: 6.25% * 1;
    margin-left: calc((100% / 16) * 1); }
  .--offset-right-1080-01 {
    margin-right: 6.25% * 1;
    margin-right: calc((100% / 16) * 1); }
  .--col-1080-02 {
    width: 12.5%;
    width: calc((100% / 16) * 2); }
  .--offset-left-1080-02 {
    margin-left: 6.25% * 2;
    margin-left: calc((100% / 16) * 2); }
  .--offset-right-1080-02 {
    margin-right: 6.25% * 2;
    margin-right: calc((100% / 16) * 2); }
  .--col-1080-03 {
    width: 18.75%;
    width: calc((100% / 16) * 3); }
  .--offset-left-1080-03 {
    margin-left: 6.25% * 3;
    margin-left: calc((100% / 16) * 3); }
  .--offset-right-1080-03 {
    margin-right: 6.25% * 3;
    margin-right: calc((100% / 16) * 3); }
  .--col-1080-04 {
    width: 25%;
    width: calc((100% / 16) * 4); }
  .--offset-left-1080-04 {
    margin-left: 6.25% * 4;
    margin-left: calc((100% / 16) * 4); }
  .--offset-right-1080-04 {
    margin-right: 6.25% * 4;
    margin-right: calc((100% / 16) * 4); }
  .--col-1080-05 {
    width: 31.25%;
    width: calc((100% / 16) * 5); }
  .--offset-left-1080-05 {
    margin-left: 6.25% * 5;
    margin-left: calc((100% / 16) * 5); }
  .--offset-right-1080-05 {
    margin-right: 6.25% * 5;
    margin-right: calc((100% / 16) * 5); }
  .--col-1080-06 {
    width: 37.5%;
    width: calc((100% / 16) * 6); }
  .--offset-left-1080-06 {
    margin-left: 6.25% * 6;
    margin-left: calc((100% / 16) * 6); }
  .--offset-right-1080-06 {
    margin-right: 6.25% * 6;
    margin-right: calc((100% / 16) * 6); }
  .--col-1080-07 {
    width: 43.75%;
    width: calc((100% / 16) * 7); }
  .--offset-left-1080-07 {
    margin-left: 6.25% * 7;
    margin-left: calc((100% / 16) * 7); }
  .--offset-right-1080-07 {
    margin-right: 6.25% * 7;
    margin-right: calc((100% / 16) * 7); }
  .--col-1080-08 {
    width: 50%;
    width: calc((100% / 16) * 8); }
  .--offset-left-1080-08 {
    margin-left: 6.25% * 8;
    margin-left: calc((100% / 16) * 8); }
  .--offset-right-1080-08 {
    margin-right: 6.25% * 8;
    margin-right: calc((100% / 16) * 8); }
  .--col-1080-09 {
    width: 56.25%;
    width: calc((100% / 16) * 9); }
  .--offset-left-1080-09 {
    margin-left: 6.25% * 9;
    margin-left: calc((100% / 16) * 9); }
  .--offset-right-1080-09 {
    margin-right: 6.25% * 9;
    margin-right: calc((100% / 16) * 9); }
  .--col-1080-10 {
    width: 62.5%;
    width: calc((100% / 16) * 10); }
  .--offset-left-1080-10 {
    margin-left: 6.25% * 10;
    margin-left: calc((100% / 16) * 10); }
  .--offset-right-1080-10 {
    margin-right: 6.25% * 10;
    margin-right: calc((100% / 16) * 10); }
  .--col-1080-11 {
    width: 68.75%;
    width: calc((100% / 16) * 11); }
  .--offset-left-1080-11 {
    margin-left: 6.25% * 11;
    margin-left: calc((100% / 16) * 11); }
  .--offset-right-1080-11 {
    margin-right: 6.25% * 11;
    margin-right: calc((100% / 16) * 11); }
  .--col-1080-12 {
    width: 75%;
    width: calc((100% / 16) * 12); }
  .--offset-left-1080-12 {
    margin-left: 6.25% * 12;
    margin-left: calc((100% / 16) * 12); }
  .--offset-right-1080-12 {
    margin-right: 6.25% * 12;
    margin-right: calc((100% / 16) * 12); }
  .--col-1080-13 {
    width: 81.25%;
    width: calc((100% / 16) * 13); }
  .--offset-left-1080-13 {
    margin-left: 6.25% * 13;
    margin-left: calc((100% / 16) * 13); }
  .--offset-right-1080-13 {
    margin-right: 6.25% * 13;
    margin-right: calc((100% / 16) * 13); }
  .--col-1080-14 {
    width: 87.5%;
    width: calc((100% / 16) * 14); }
  .--offset-left-1080-14 {
    margin-left: 6.25% * 14;
    margin-left: calc((100% / 16) * 14); }
  .--offset-right-1080-14 {
    margin-right: 6.25% * 14;
    margin-right: calc((100% / 16) * 14); }
  .--col-1080-15 {
    width: 93.75%;
    width: calc((100% / 16) * 15); }
  .--offset-left-1080-15 {
    margin-left: 6.25% * 15;
    margin-left: calc((100% / 16) * 15); }
  .--offset-right-1080-15 {
    margin-right: 6.25% * 15;
    margin-right: calc((100% / 16) * 15); }
  .--col-1080-16 {
    width: 100%;
    width: calc((100% / 16) * 16); }
  .--offset-left-1080-16 {
    margin-left: 6.25% * 16;
    margin-left: calc((100% / 16) * 16); }
  .--offset-right-1080-16 {
    margin-right: 6.25% * 16;
    margin-right: calc((100% / 16) * 16); } }

@media (max-width: 992px) {
  .--col-992-01 {
    width: 6.25%;
    width: calc((100% / 16) * 1); }
  .--offset-left-992-01 {
    margin-left: 6.25% * 1;
    margin-left: calc((100% / 16) * 1); }
  .--offset-right-992-01 {
    margin-right: 6.25% * 1;
    margin-right: calc((100% / 16) * 1); }
  .--col-992-02 {
    width: 12.5%;
    width: calc((100% / 16) * 2); }
  .--offset-left-992-02 {
    margin-left: 6.25% * 2;
    margin-left: calc((100% / 16) * 2); }
  .--offset-right-992-02 {
    margin-right: 6.25% * 2;
    margin-right: calc((100% / 16) * 2); }
  .--col-992-03 {
    width: 18.75%;
    width: calc((100% / 16) * 3); }
  .--offset-left-992-03 {
    margin-left: 6.25% * 3;
    margin-left: calc((100% / 16) * 3); }
  .--offset-right-992-03 {
    margin-right: 6.25% * 3;
    margin-right: calc((100% / 16) * 3); }
  .--col-992-04 {
    width: 25%;
    width: calc((100% / 16) * 4); }
  .--offset-left-992-04 {
    margin-left: 6.25% * 4;
    margin-left: calc((100% / 16) * 4); }
  .--offset-right-992-04 {
    margin-right: 6.25% * 4;
    margin-right: calc((100% / 16) * 4); }
  .--col-992-05 {
    width: 31.25%;
    width: calc((100% / 16) * 5); }
  .--offset-left-992-05 {
    margin-left: 6.25% * 5;
    margin-left: calc((100% / 16) * 5); }
  .--offset-right-992-05 {
    margin-right: 6.25% * 5;
    margin-right: calc((100% / 16) * 5); }
  .--col-992-06 {
    width: 37.5%;
    width: calc((100% / 16) * 6); }
  .--offset-left-992-06 {
    margin-left: 6.25% * 6;
    margin-left: calc((100% / 16) * 6); }
  .--offset-right-992-06 {
    margin-right: 6.25% * 6;
    margin-right: calc((100% / 16) * 6); }
  .--col-992-07 {
    width: 43.75%;
    width: calc((100% / 16) * 7); }
  .--offset-left-992-07 {
    margin-left: 6.25% * 7;
    margin-left: calc((100% / 16) * 7); }
  .--offset-right-992-07 {
    margin-right: 6.25% * 7;
    margin-right: calc((100% / 16) * 7); }
  .--col-992-08 {
    width: 50%;
    width: calc((100% / 16) * 8); }
  .--offset-left-992-08 {
    margin-left: 6.25% * 8;
    margin-left: calc((100% / 16) * 8); }
  .--offset-right-992-08 {
    margin-right: 6.25% * 8;
    margin-right: calc((100% / 16) * 8); }
  .--col-992-09 {
    width: 56.25%;
    width: calc((100% / 16) * 9); }
  .--offset-left-992-09 {
    margin-left: 6.25% * 9;
    margin-left: calc((100% / 16) * 9); }
  .--offset-right-992-09 {
    margin-right: 6.25% * 9;
    margin-right: calc((100% / 16) * 9); }
  .--col-992-10 {
    width: 62.5%;
    width: calc((100% / 16) * 10); }
  .--offset-left-992-10 {
    margin-left: 6.25% * 10;
    margin-left: calc((100% / 16) * 10); }
  .--offset-right-992-10 {
    margin-right: 6.25% * 10;
    margin-right: calc((100% / 16) * 10); }
  .--col-992-11 {
    width: 68.75%;
    width: calc((100% / 16) * 11); }
  .--offset-left-992-11 {
    margin-left: 6.25% * 11;
    margin-left: calc((100% / 16) * 11); }
  .--offset-right-992-11 {
    margin-right: 6.25% * 11;
    margin-right: calc((100% / 16) * 11); }
  .--col-992-12 {
    width: 75%;
    width: calc((100% / 16) * 12); }
  .--offset-left-992-12 {
    margin-left: 6.25% * 12;
    margin-left: calc((100% / 16) * 12); }
  .--offset-right-992-12 {
    margin-right: 6.25% * 12;
    margin-right: calc((100% / 16) * 12); }
  .--col-992-13 {
    width: 81.25%;
    width: calc((100% / 16) * 13); }
  .--offset-left-992-13 {
    margin-left: 6.25% * 13;
    margin-left: calc((100% / 16) * 13); }
  .--offset-right-992-13 {
    margin-right: 6.25% * 13;
    margin-right: calc((100% / 16) * 13); }
  .--col-992-14 {
    width: 87.5%;
    width: calc((100% / 16) * 14); }
  .--offset-left-992-14 {
    margin-left: 6.25% * 14;
    margin-left: calc((100% / 16) * 14); }
  .--offset-right-992-14 {
    margin-right: 6.25% * 14;
    margin-right: calc((100% / 16) * 14); }
  .--col-992-15 {
    width: 93.75%;
    width: calc((100% / 16) * 15); }
  .--offset-left-992-15 {
    margin-left: 6.25% * 15;
    margin-left: calc((100% / 16) * 15); }
  .--offset-right-992-15 {
    margin-right: 6.25% * 15;
    margin-right: calc((100% / 16) * 15); }
  .--col-992-16 {
    width: 100%;
    width: calc((100% / 16) * 16); }
  .--offset-left-992-16 {
    margin-left: 6.25% * 16;
    margin-left: calc((100% / 16) * 16); }
  .--offset-right-992-16 {
    margin-right: 6.25% * 16;
    margin-right: calc((100% / 16) * 16); } }

@media (max-width: 640px) {
  .--col-640-01 {
    width: 6.25%;
    width: calc((100% / 16) * 1); }
  .--offset-left-640-01 {
    margin-left: 6.25% * 1;
    margin-left: calc((100% / 16) * 1); }
  .--offset-right-640-01 {
    margin-right: 6.25% * 1;
    margin-right: calc((100% / 16) * 1); }
  .--col-640-02 {
    width: 12.5%;
    width: calc((100% / 16) * 2); }
  .--offset-left-640-02 {
    margin-left: 6.25% * 2;
    margin-left: calc((100% / 16) * 2); }
  .--offset-right-640-02 {
    margin-right: 6.25% * 2;
    margin-right: calc((100% / 16) * 2); }
  .--col-640-03 {
    width: 18.75%;
    width: calc((100% / 16) * 3); }
  .--offset-left-640-03 {
    margin-left: 6.25% * 3;
    margin-left: calc((100% / 16) * 3); }
  .--offset-right-640-03 {
    margin-right: 6.25% * 3;
    margin-right: calc((100% / 16) * 3); }
  .--col-640-04 {
    width: 25%;
    width: calc((100% / 16) * 4); }
  .--offset-left-640-04 {
    margin-left: 6.25% * 4;
    margin-left: calc((100% / 16) * 4); }
  .--offset-right-640-04 {
    margin-right: 6.25% * 4;
    margin-right: calc((100% / 16) * 4); }
  .--col-640-05 {
    width: 31.25%;
    width: calc((100% / 16) * 5); }
  .--offset-left-640-05 {
    margin-left: 6.25% * 5;
    margin-left: calc((100% / 16) * 5); }
  .--offset-right-640-05 {
    margin-right: 6.25% * 5;
    margin-right: calc((100% / 16) * 5); }
  .--col-640-06 {
    width: 37.5%;
    width: calc((100% / 16) * 6); }
  .--offset-left-640-06 {
    margin-left: 6.25% * 6;
    margin-left: calc((100% / 16) * 6); }
  .--offset-right-640-06 {
    margin-right: 6.25% * 6;
    margin-right: calc((100% / 16) * 6); }
  .--col-640-07 {
    width: 43.75%;
    width: calc((100% / 16) * 7); }
  .--offset-left-640-07 {
    margin-left: 6.25% * 7;
    margin-left: calc((100% / 16) * 7); }
  .--offset-right-640-07 {
    margin-right: 6.25% * 7;
    margin-right: calc((100% / 16) * 7); }
  .--col-640-08 {
    width: 50%;
    width: calc((100% / 16) * 8); }
  .--offset-left-640-08 {
    margin-left: 6.25% * 8;
    margin-left: calc((100% / 16) * 8); }
  .--offset-right-640-08 {
    margin-right: 6.25% * 8;
    margin-right: calc((100% / 16) * 8); }
  .--col-640-09 {
    width: 56.25%;
    width: calc((100% / 16) * 9); }
  .--offset-left-640-09 {
    margin-left: 6.25% * 9;
    margin-left: calc((100% / 16) * 9); }
  .--offset-right-640-09 {
    margin-right: 6.25% * 9;
    margin-right: calc((100% / 16) * 9); }
  .--col-640-10 {
    width: 62.5%;
    width: calc((100% / 16) * 10); }
  .--offset-left-640-10 {
    margin-left: 6.25% * 10;
    margin-left: calc((100% / 16) * 10); }
  .--offset-right-640-10 {
    margin-right: 6.25% * 10;
    margin-right: calc((100% / 16) * 10); }
  .--col-640-11 {
    width: 68.75%;
    width: calc((100% / 16) * 11); }
  .--offset-left-640-11 {
    margin-left: 6.25% * 11;
    margin-left: calc((100% / 16) * 11); }
  .--offset-right-640-11 {
    margin-right: 6.25% * 11;
    margin-right: calc((100% / 16) * 11); }
  .--col-640-12 {
    width: 75%;
    width: calc((100% / 16) * 12); }
  .--offset-left-640-12 {
    margin-left: 6.25% * 12;
    margin-left: calc((100% / 16) * 12); }
  .--offset-right-640-12 {
    margin-right: 6.25% * 12;
    margin-right: calc((100% / 16) * 12); }
  .--col-640-13 {
    width: 81.25%;
    width: calc((100% / 16) * 13); }
  .--offset-left-640-13 {
    margin-left: 6.25% * 13;
    margin-left: calc((100% / 16) * 13); }
  .--offset-right-640-13 {
    margin-right: 6.25% * 13;
    margin-right: calc((100% / 16) * 13); }
  .--col-640-14 {
    width: 87.5%;
    width: calc((100% / 16) * 14); }
  .--offset-left-640-14 {
    margin-left: 6.25% * 14;
    margin-left: calc((100% / 16) * 14); }
  .--offset-right-640-14 {
    margin-right: 6.25% * 14;
    margin-right: calc((100% / 16) * 14); }
  .--col-640-15 {
    width: 93.75%;
    width: calc((100% / 16) * 15); }
  .--offset-left-640-15 {
    margin-left: 6.25% * 15;
    margin-left: calc((100% / 16) * 15); }
  .--offset-right-640-15 {
    margin-right: 6.25% * 15;
    margin-right: calc((100% / 16) * 15); }
  .--col-640-16 {
    width: 100%;
    width: calc((100% / 16) * 16); }
  .--offset-left-640-16 {
    margin-left: 6.25% * 16;
    margin-left: calc((100% / 16) * 16); }
  .--offset-right-640-16 {
    margin-right: 6.25% * 16;
    margin-right: calc((100% / 16) * 16); } }

@media (max-width: 568px) {
  .--col-568-01 {
    width: 6.25%;
    width: calc((100% / 16) * 1); }
  .--offset-left-568-01 {
    margin-left: 6.25% * 1;
    margin-left: calc((100% / 16) * 1); }
  .--offset-right-568-01 {
    margin-right: 6.25% * 1;
    margin-right: calc((100% / 16) * 1); }
  .--col-568-02 {
    width: 12.5%;
    width: calc((100% / 16) * 2); }
  .--offset-left-568-02 {
    margin-left: 6.25% * 2;
    margin-left: calc((100% / 16) * 2); }
  .--offset-right-568-02 {
    margin-right: 6.25% * 2;
    margin-right: calc((100% / 16) * 2); }
  .--col-568-03 {
    width: 18.75%;
    width: calc((100% / 16) * 3); }
  .--offset-left-568-03 {
    margin-left: 6.25% * 3;
    margin-left: calc((100% / 16) * 3); }
  .--offset-right-568-03 {
    margin-right: 6.25% * 3;
    margin-right: calc((100% / 16) * 3); }
  .--col-568-04 {
    width: 25%;
    width: calc((100% / 16) * 4); }
  .--offset-left-568-04 {
    margin-left: 6.25% * 4;
    margin-left: calc((100% / 16) * 4); }
  .--offset-right-568-04 {
    margin-right: 6.25% * 4;
    margin-right: calc((100% / 16) * 4); }
  .--col-568-05 {
    width: 31.25%;
    width: calc((100% / 16) * 5); }
  .--offset-left-568-05 {
    margin-left: 6.25% * 5;
    margin-left: calc((100% / 16) * 5); }
  .--offset-right-568-05 {
    margin-right: 6.25% * 5;
    margin-right: calc((100% / 16) * 5); }
  .--col-568-06 {
    width: 37.5%;
    width: calc((100% / 16) * 6); }
  .--offset-left-568-06 {
    margin-left: 6.25% * 6;
    margin-left: calc((100% / 16) * 6); }
  .--offset-right-568-06 {
    margin-right: 6.25% * 6;
    margin-right: calc((100% / 16) * 6); }
  .--col-568-07 {
    width: 43.75%;
    width: calc((100% / 16) * 7); }
  .--offset-left-568-07 {
    margin-left: 6.25% * 7;
    margin-left: calc((100% / 16) * 7); }
  .--offset-right-568-07 {
    margin-right: 6.25% * 7;
    margin-right: calc((100% / 16) * 7); }
  .--col-568-08 {
    width: 50%;
    width: calc((100% / 16) * 8); }
  .--offset-left-568-08 {
    margin-left: 6.25% * 8;
    margin-left: calc((100% / 16) * 8); }
  .--offset-right-568-08 {
    margin-right: 6.25% * 8;
    margin-right: calc((100% / 16) * 8); }
  .--col-568-09 {
    width: 56.25%;
    width: calc((100% / 16) * 9); }
  .--offset-left-568-09 {
    margin-left: 6.25% * 9;
    margin-left: calc((100% / 16) * 9); }
  .--offset-right-568-09 {
    margin-right: 6.25% * 9;
    margin-right: calc((100% / 16) * 9); }
  .--col-568-10 {
    width: 62.5%;
    width: calc((100% / 16) * 10); }
  .--offset-left-568-10 {
    margin-left: 6.25% * 10;
    margin-left: calc((100% / 16) * 10); }
  .--offset-right-568-10 {
    margin-right: 6.25% * 10;
    margin-right: calc((100% / 16) * 10); }
  .--col-568-11 {
    width: 68.75%;
    width: calc((100% / 16) * 11); }
  .--offset-left-568-11 {
    margin-left: 6.25% * 11;
    margin-left: calc((100% / 16) * 11); }
  .--offset-right-568-11 {
    margin-right: 6.25% * 11;
    margin-right: calc((100% / 16) * 11); }
  .--col-568-12 {
    width: 75%;
    width: calc((100% / 16) * 12); }
  .--offset-left-568-12 {
    margin-left: 6.25% * 12;
    margin-left: calc((100% / 16) * 12); }
  .--offset-right-568-12 {
    margin-right: 6.25% * 12;
    margin-right: calc((100% / 16) * 12); }
  .--col-568-13 {
    width: 81.25%;
    width: calc((100% / 16) * 13); }
  .--offset-left-568-13 {
    margin-left: 6.25% * 13;
    margin-left: calc((100% / 16) * 13); }
  .--offset-right-568-13 {
    margin-right: 6.25% * 13;
    margin-right: calc((100% / 16) * 13); }
  .--col-568-14 {
    width: 87.5%;
    width: calc((100% / 16) * 14); }
  .--offset-left-568-14 {
    margin-left: 6.25% * 14;
    margin-left: calc((100% / 16) * 14); }
  .--offset-right-568-14 {
    margin-right: 6.25% * 14;
    margin-right: calc((100% / 16) * 14); }
  .--col-568-15 {
    width: 93.75%;
    width: calc((100% / 16) * 15); }
  .--offset-left-568-15 {
    margin-left: 6.25% * 15;
    margin-left: calc((100% / 16) * 15); }
  .--offset-right-568-15 {
    margin-right: 6.25% * 15;
    margin-right: calc((100% / 16) * 15); }
  .--col-568-16 {
    width: 100%;
    width: calc((100% / 16) * 16); }
  .--offset-left-568-16 {
    margin-left: 6.25% * 16;
    margin-left: calc((100% / 16) * 16); }
  .--offset-right-568-16 {
    margin-right: 6.25% * 16;
    margin-right: calc((100% / 16) * 16); } }

.--content-left {
  justify-content: flex-start; }

.--content-center {
  justify-content: center; }

.--content-right {
  justify-content: flex-end; }

.--content-top {
  align-items: flex-start; }

.--content-middle {
  align-items: center; }

.--content-bottom {
  align-items: flex-end; }

.--col-top {
  align-items: flex-start; }

.--col-middle {
  align-items: center; }

.--col-bottom {
  align-items: flex-end; }

.--col-left {
  justify-content: flex-start; }

.--col-center {
  justify-content: center; }

.--col-right {
  justify-content: flex-end; }

.--justify-between {
  justify-content: space-between; }

.--justify-around {
  justify-content: space-around; }

.--justify-evenly {
  justify-content: space-evenly; }

.--self-top {
  align-self: flex-start; }

.--self-middle {
  align-self: center; }

.--self-bottom {
  align-self: flex-end; }

.l-container.debug {
  position: relative;
  z-index: 1; }
  .l-container.debug::before {
    content: '';
    position: absolute;
    left: 5vw;
    right: 5vw;
    top: 0;
    bottom: 0;
    z-index: -1;
    outline: 1px solid #ff0000;
    background-color: #ffcbcb;
    outline-offset: -1px; }

/*# sourceMappingURL=simple-grid-layout.css.map */
