//- to include
//- include ./assets/components/sections/some-text/_s-some-text.jade



.l-container
  p.w-text-block
    span.text-block__title Сувенирная продукция и подарки с логотипом
    span.paragraph.
      Как поступить лучше всего, чтобы в наше время, при минимуме вложенных средств, получить больше выгоды? Бренд вашей компании станет узнаваем для многочисленной аудитории. Вы не только сохраните постоянных клиентов, но также приобретёте много новых. Вам нужно обратиться к профессионалам "БоксПрезент"
    span.paragraph.
      Наша сплочённая команда изготавливает на заказ любую рекламную или продукцию с нанесением логотипа вашей фирмы. Где можно использовать товары, представленные "БоксПрезент"? Вариантов много: различные презентации, выставки, семинары. Также - в качестве подарков для постоянных клиентов компании.
    span.paragraph.
      Бренд начнут узнавать многие люди, а прибыль и известность фирмы увеличатся во много раз. Гарантия эффективной работы нашего агентства - тысячи благодарных и постоянных клиентов. Мы работаем для вас по всей России, быстро доставляя готовый товар в любой регион.
